In [1]:
import dero
import pandas as pd

In [22]:
df = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

df_datetime = df.copy()
df_datetime['Date'] = pd.to_datetime(df_datetime['Date'])

In [3]:
df_extra = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/2/2000', 1.02),
                                (10516, 'a', '1/3/2000', 1.03),
                                (10516, 'a', '1/4/2000', 1.04),
                                (10516, 'b', '1/1/2000', 1.05),
                                (10516, 'b', '1/2/2000', 1.06),
                                (10516, 'b', '1/3/2000', 1.07),
                                (10516, 'b', '1/4/2000', 1.08),
                                (10517, 'a', '1/1/2000', 1.09),
                                (10517, 'a', '1/2/2000', 1.10),
                                (10517, 'a', '1/3/2000', 1.11),
                                (10517, 'a', '1/4/2000', 1.12),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

In [289]:
df_weight = pd.DataFrame(data = [
        (10516, 'a', '1/1/2000', 1.01, 0),
        (10516, 'a', '1/2/2000', 1.02, 1),
        (10516, 'a', '1/3/2000', 1.03, 1),
        (10516, 'a', '1/4/2000', 1.04, 0),
        (10516, 'b', '1/1/2000', 1.05, 1),
        (10516, 'b', '1/2/2000', 1.06, 1),
        (10516, 'b', '1/3/2000', 1.07, 1),
        (10516, 'b', '1/4/2000', 1.08, 1),
        (10517, 'a', '1/1/2000', 1.09, 0),
        (10517, 'a', '1/2/2000', 1.1, 0),
        (10517, 'a', '1/3/2000', 1.11, 0),
        (10517, 'a', '1/4/2000', 1.12, 1),
        ], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'weight'])

In [2]:
from pandas import Timestamp
ticker_df = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('a', Timestamp('2008-01-01 00:00:00'), 'AAN'),
        ('a', Timestamp('2009-01-02 00:00:00'), 'AAN'),
        ('a', Timestamp('2010-01-03 00:00:00'), 'AAN'),
        ('a', Timestamp('2011-01-04 00:00:00'), 'AAN'),
        ], columns = ['byvar', 'Date', 'TICKER'])

In [5]:
from pandas import Timestamp
ticker_exchange_df = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
        ('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
        ('a', Timestamp('2008-01-01 00:00:00'), 'AAN'),
        ('a', Timestamp('2009-01-02 00:00:00'), 'AAN'),
        ('a', Timestamp('2010-01-03 00:00:00'), 'AAN'),
        ('a', Timestamp('2011-01-04 00:00:00'), 'AAN'),
        ], columns = ['byvar', 'Date', 'TICKER'])

In [6]:
from pandas import Timestamp
single_ticker_df = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
        ], columns = ['byvar', 'Date', 'TICKER'])

In [10]:
from numpy import nan
permno_df_with_nan = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-02 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-03 00:00:00'), 10516.0),
        ('a', Timestamp('2000-01-04 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-01 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-02 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-03 00:00:00'), 10516.0),
        ('b', Timestamp('2000-01-04 00:00:00'), 10516.0),
        ('a', Timestamp('2008-01-01 00:00:00'), nan),
        ('a', Timestamp('2009-01-02 00:00:00'), nan),
        ('a', Timestamp('2010-01-03 00:00:00'), 78049.0),
        ('a', Timestamp('2011-01-04 00:00:00'), 10517.0),
        ], columns = ['byvar', 'Date', 'PERMNO'])

In [ ]:
from pandas import Timestamp
df_ticker_extra_cols_year_month = pd.DataFrame(data = [
        ('a', Timestamp('2000-01-01 00:00:00'), 'ADM', 1.01, 2000, 1),
        ('a', Timestamp('2000-01-02 00:00:00'), 'ADM', 1.02, 2000, 1),
        ('a', Timestamp('2000-01-03 00:00:00'), 'ADM', 1.03, 2000, 1),
        ('a', Timestamp('2000-01-04 00:00:00'), 'ADM', 1.04, 2000, 1),
        ('b', Timestamp('2000-01-01 00:00:00'), 'ADM', 1.05, 2000, 1),
        ('b', Timestamp('2000-01-02 00:00:00'), 'ADM', 1.06, 2000, 1),
        ('b', Timestamp('2000-01-03 00:00:00'), 'ADM', 1.07, 2000, 1),
        ('b', Timestamp('2000-01-04 00:00:00'), 'ADM', 1.08, 2000, 1),
        ('a', Timestamp('2008-01-01 00:00:00'), 'AAN', 1.09, 2008, 1),
        ('a', Timestamp('2009-01-02 00:00:00'), 'AAN', 1.1, 2009, 1),
        ('a', Timestamp('2010-01-03 00:00:00'), 'AAN', 1.11, 2010, 1),
        ('a', Timestamp('2011-01-04 00:00:00'), 'AAN', 1.12, 2011, 1),
        ], columns = ['byvar', 'Date', 'TICKER', 'other', 'Year', 'Month'])

In [3]:
from numpy import nan
df_nan_byvar = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', 3),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [2]:
from numpy import nan
df_nan_byvar_and_val = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', nan),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [2]:
from numpy import nan
df_nan_byvar_and_val_nonstandard_index = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', nan),
                                ('b', 4),
                                ], columns = ['byvar', 'val'],
                                index=[5,6,7,8])

In [7]:
import pandas as pd
df_sasdate = pd.DataFrame(data = [
                    ('011508', 16114.0),
                    ('011509', 16114.0),
                    ('011508', 16482.0),
                    ('011508', 17178.0),
                    ('011509', 17178.0),
                    ('011508', 17197.0),
                    ('011508', 17212.0),
                    ], columns = ['gvkey', 'datadate'])

df_sasdate_nan = pd.DataFrame(data = [
                    ('011508', 16114.0),
                    ('011508', 16482.0),
                    ('011508', 17178.0),
                    ('011508', 17197.0),
                    ('011508', nan),
                    ('011508', 17212.0),
                    ], columns = ['gvkey', 'datadate'])

In [3]:
df_period_str = pd.DataFrame([
                                (10516, '1/1/2000', 1.01),
                                (10516, '1/2/2000', 1.02),
                                (10516, '1/3/2000', 1.03),
                                (10516, '1/4/2000', 1.04),
                                (10516, '1/5/2000', 1.05),
                                (10516, '1/6/2000', 1.06),
                                (10516, '1/7/2000', 1.07),
                                (10516, '1/8/2000', 1.08),
                                (10517, '1/1/2000', 1.09),
                                (10517, '1/2/2000', 1.10),
                                (10517, '1/3/2000', 1.11),
                                (10517, '1/4/2000', 1.12),
                                (10517, '1/5/2000', 1.05),
                                (10517, '1/6/2000', 1.06),
                                (10517, '1/7/2000', 1.07),
                                (10517, '1/8/2000', 1.08),
                               ], columns = ['PERMNO','Date', 'RET'])

df_period = df_period_str.copy()
df_period['Date'] = pd.to_datetime(df_period['Date'])

In [1]:
import dero
import pandas as pd
from numpy import nan

df_gvkey_str = pd.DataFrame([
    ('001076','3/1/1995'),
    ('001076','4/1/1995'),
    ('001722','1/1/2012'),
    ('001722','7/1/2012'),
    ('001722', nan),
    (nan ,'1/1/2012')
], columns=['GVKEY','Date'])

df_gvkey_str['Date'] = pd.to_datetime(df_gvkey_str['Date'])
df_gvkey_num = df_gvkey_str.copy()
df_gvkey_num['GVKEY'] = df_gvkey_num['GVKEY'].astype('float64')

df_gvkey_str2 = pd.DataFrame([
    ('001076','2/1/1995'),
    ('001076','3/2/1995'),
    ('001722','11/1/2011'),
    ('001722','10/1/2011'),
    ('001722', nan),
    (nan ,'1/1/2012')
], columns=['GVKEY','Date'])
df_gvkey_str2['Date'] = pd.to_datetime(df_gvkey_str2['Date'])

In [2]:
df_zeroes = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 0),
                                (10516, 'a', '1/2/2000', 0),
                                (10516, 'a', '1/3/2000', 1),
                                (10516, 'a', '1/4/2000', 2),
                                (10516, 'b', '1/1/2000', 0),
                                (10516, 'b', '1/2/2000', 1),
                                (10516, 'b', '1/3/2000', 1),
                                (10516, 'b', '1/4/2000', 1),
                                (10517, 'a', '1/1/2000', 3),
                                (10517, 'a', '1/2/2000', 4),
                                (10517, 'a', '1/3/2000', 5),
                                (10517, 'a', '1/4/2000', 6),
                               ], columns = ['PERMNO','byvar','Date', 'RET'])

df_zeroes['Date'] = pd.to_datetime(df_zeroes['Date'])

In [4]:
dero.pandas.portfolio(df_zeroes, 'RET', ngroups=4, byvars='byvar')

    PERMNO byvar       Date  RET  portfolio
0    10516     a 2000-01-01    0          1
1    10516     a 2000-01-02    0          1
2    10516     a 2000-01-03    1          2
3    10516     a 2000-01-04    2          2
4    10516     b 2000-01-01    0          1
5    10516     b 2000-01-02    1          2
6    10516     b 2000-01-03    1          2
7    10516     b 2000-01-04    1          2
8    10517     a 2000-01-01    3          3
9    10517     a 2000-01-02    4          3
10   10517     a 2000-01-03    5          4
11   10517     a 2000-01-04    6          4

In [24]:
crsp = dero.data.GetCRSP(debug=True)
a = crsp.pull_crsp(
                df_datetime, freq='d', get=['RET'], 
                other_byvars='byvar',time=[0,3], cumret='first', abret=1,
                window=30, drop_first=True)
dero.pandas.to_copy_paste(a)

2016-09-15 17:43:36: Initializing pull_crsp function
2016-09-15 17:43:36: Checking inputs.
2016-09-15 17:43:36: Loading CRSP dataframe...
2016-09-15 17:43:36: Loaded.
2016-09-15 17:43:36: Converting SAS date to Pandas format.
2016-09-15 17:43:36: Converted.
2016-09-15 17:43:36: Time detected.
2016-09-15 17:43:36: Cumret detected, will generate intermediate periods.
2016-09-15 17:43:36: Generating periods [0, 3] + itermediate
2016-09-15 17:43:36: Initializing expand_time for periods [0, 1, 2, 3].
2016-09-15 17:43:36: Daily frequency, getting trading day calendar.
2016-09-15 17:43:36: Calculating number of rows.
2016-09-15 17:43:36: Calculating number of duplicates.
2016-09-15 17:43:36: Duplicating observations 3 times.
2016-09-15 17:43:36: Duplicated.
2016-09-15 17:43:36: Creating shift variable.
2016-09-15 17:43:36: Creating shifted date.
2016-09-15 17:43:36: expand_time completed.
2016-09-15 17:43:36: Finished generating periods. Generating key.
2016-09-15 17:43:36: Abret detected.
2016-09-15 17:43:36: Creating abret window periods.
2016-09-15 17:43:36: Initializing expand_time for periods [0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30].
2016-09-15 17:43:36: Daily frequency, getting trading day calendar.
2016-09-15 17:43:36: Calculating number of rows.
2016-09-15 17:43:36: Calculating number of duplicates.
2016-09-15 17:43:36: Duplicating observations 30 times.
2016-09-15 17:43:36: Duplicated.
2016-09-15 17:43:36: Creating shift variable.
2016-09-15 17:43:36: Creating shifted date.
2016-09-15 17:43:36: expand_time completed.
2016-09-15 17:43:36: Merging with CRSP to get abret window data as well as regular data.
2016-09-15 17:43:36: Merging CRSP to dataframe.
2016-09-15 17:43:36: Completed merge.
2016-09-15 17:43:36: Getting Fama-French factors, then running regressions.
2016-09-15 17:43:37: Dropping unneeded observations (abret window dates).
2016-09-15 17:43:37: Cumret detected.
2016-09-15 17:43:37: Cumulating returns with method first for time [0, 3].
2016-09-15 17:43:37: Initializing cumulate.
2016-09-15 17:43:37: Creating by groups.
2016-09-15 17:43:37: Reshaping long to wide.
pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-01 00:00:00'), 1.01, -0.015789473429322243, -0.0157200164855561, -0.026041666719972656, -0.023104568060886788),
(10516, 'a', Timestamp('2000-01-02 00:00:00'), 1.02, -0.015789473429322243, -0.0157200164855561, -0.026041666719972656, -0.023104568060886788),
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, 0.005347593687474728, 0.00575376791862503, -0.020833333285060984, -0.01748373846474416),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, 0.01595744676887989, 0.012994269572996098, -0.005208333323095782, -0.0047166573025027025),
(10516, 'b', Timestamp('2000-01-01 00:00:00'), 1.05, -0.015789473429322243, -0.0157200164855561, -0.026041666719972656, -0.023104568060886788),
(10516, 'b', Timestamp('2000-01-02 00:00:00'), 1.06, -0.015789473429322243, -0.0157200164855561, -0.026041666719972656, -0.023104568060886788),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, 0.005347593687474728, 0.00575376791862503, -0.020833333285060984, -0.01748373846474416),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, 0.01595744676887989, 0.012994269572996098, -0.005208333323095782, -0.0047166573025027025),
(10517, 'a', Timestamp('2000-01-01 00:00:00'), 1.09, -0.007117437664419413, -0.0065582128902672565, -0.010638297703057686, 0.01488729250752785),
(10517, 'a', Timestamp('2000-01-02 00:00:00'), 1.1, -0.007117437664419413, -0.0065582128902672565, -0.010638297703057686, 0.01488729250752785),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, 0.00358422938734293, 0.008033133923996294, -0.0070921984149733275, 0.023040018046002864),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, 0.0, -0.011673811100752163, -0.0070921984149733275, 0.011097242126823836),
], columns = ['PERMNO', 'byvar', 'Date', 'RET_old', 'RET3', 'ABRET3', 'cum_RET3', 'cum_ABRET3'])

In [60]:
#######This is temp to import dev version of dero
import os, sys
sys.path.insert(0, r'C:\Users\derobertisna.UFAD\Dropbox\Python\Dero')
import dero
print(__name__, dero.__version__)

import pandas as pd

filepath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Corbin\Short Sale Project\Insider Filings\wide data.csv'

df = pd.read_csv(filepath)
df['Begin'] = pd.to_datetime(df['Begin'])

__main__ 0.8.0

Todo: Form a multiindex based on dates and some firm keys and see how much extra performance can get out of apply to unique and merge

In [ ]:
dates = pd.date_range(start='12/31/2002',end='1/1/2015',freq='m')
coids = [i for i in range(20)]
index = pd.MultiIndex.from_product([dates, coids])
test_df = pd.DataFrame(index=index).reset_index()
test_df.columns = ['Date','Coid']

In [207]:
test_df_single = pd.DataFrame(pd.date_range(start='12/31/2002',end='1/1/2015',freq='m'), columns=['Date'])

In [22]:
%timeit expand_months3(test_df)

1 loop, best of 3: 205 ms per loop

In [23]:
%timeit expand_months2(test_df)

1 loop, best of 3: 2.91 s per loop

In [24]:
%timeit orig_expand_months(test_df)

1 loop, best of 3: 6.14 s per loop

Run this block to test

In [27]:
%timeit TestExpandMonths()

10 loops, best of 3: 37.1 ms per loop

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:42: FutureWarning: sort(....) is deprecated, use sort_index(.....)
C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:82: FutureWarning: sort(....) is deprecated, use sort_index(.....)

In [78]:
b = pd.DataFrame([(Timestamp('12/31/2002'),),(Timestamp('1/15/2003'),)], columns=['Date'])
b

        Date
0 2002-12-31
1 2003-01-15

In [184]:
from functools import partial
td = dero.pandas.tradedays()
newdatevar='Daily Date'
datevar='Date'

expand = partial(_expand, datevar=datevar,  td=td, newdatevar=newdatevar)

# out = expand(Timestamp('12/31/2002'))

In [190]:
date = np.datetime64('2003-01-15T00:00:00.000000000')

# %timeit date.astype(object).year
# %timeit date.astype('datetime64[Y]').astype(int) + 1970
# %timeit date.astype(object).month
# %timeit date.astype('datetime64[M]').astype(int) %12 + 1

In [64]:
original time to beat

10 loops, best of 3: 38.4 ms per loop

In [21]:
import dero
import pandas as pd
import numpy as np
import datetime, time
from functools import partial
from dateutil.relativedelta import relativedelta

tradedays = dero.pandas.tradedays

def _expand(monthly_date, datevar, td, newdatevar):
   
    t = time.gmtime(monthly_date/1000000000) #date coming in as integer, need to parse
    t = datetime.date(t.tm_year, t.tm_mon, t.tm_mday) #better output than gmtime
    
    beginning = datetime.date(t.year, t.month, 1) #beginning of month of date
    end = beginning + relativedelta(months=1, days=-1) #last day of month
    days = pd.date_range(start=beginning, end=end, freq=td) #trade days within month
    days.name = newdatevar
    result =  np.array([(t, i) for i in days])
    return result


def expand_months(df, datevar='Date', newdatevar='Daily Date', trade_days=True):
    """
    Takes a monthly dataframe and returns a daily (trade day or calendar day) dataframe. 
    For each row in the input data, duplicates that row over each trading/calendar day in the month of 
    the date in that row. Creates a new date column containing the daily date.
    
    NOTE: If the input dataset has multiple observations per month, all of these will be expanded. Therefore
    you will have one row for each trade day for each original observation. 
    
    Required inputs:
    df: pandas dataframe containing a date variable
    
    Optional inputs:
    datevar: str, name of column containing dates in the input df
    newdatevar: str, name of new column to be created containing daily dates
    tradedays: bool, True to use trading days and False to use calendar days
    """
    if trade_days:
        td = tradedays()
    else:
        td = 'D'
    
    expand = partial(_expand, datevar=datevar, td=td, newdatevar=newdatevar)
    
    
    expand_all = np.vectorize(expand, otypes=[np.ndarray])
        
    days =  pd.DataFrame(np.concatenate(expand_all(df[datevar].unique()), axis=0),
                         columns=[datevar, newdatevar], dtype='datetime64')

    return df.merge(days, on=datevar, how='left')

In [17]:
import dero
import pandas as pd
import datetime
from functools import partial
from dateutil.relativedelta import relativedelta

tradedays = dero.pandas.tradedays

def _expand2(monthly_date, datevar, td, newdatevar):
    beginning = datetime.date(monthly_date.year, monthly_date.month, 1) #beginning of month of date
    end = beginning + relativedelta(months=1, days=-1) #last day of month
    days = pd.date_range(start=beginning, end=end, freq=td) #trade days within month
    days.name = newdatevar
#     s = pd.Series([monthly_date for i in range(len(days))], index=days)
#     s.name = datevar
#     return s
    return pd.DataFrame([monthly_date for i in range(len(days))], index=days, columns=[datevar])
#     return pd.DataFrame([monthly_date for i in range(len(days))], index=days, columns=[datevar]).unstack(0)


def expand_months2(df, datevar='Date', newdatevar='Daily Date', trade_days=True):
    """
    Takes a monthly dataframe and returns a daily (trade day or calendar day) dataframe. 
    For each row in the input data, duplicates that row over each trading/calendar day in the month of 
    the date in that row. Creates a new date column containing the daily date.
    
    NOTE: If the input dataset has multiple observations per month, all of these will be expanded. Therefore
    you will have one row for each trade day for each original observation. 
    
    Required inputs:
    df: pandas dataframe containing a date variable
    
    Optional inputs:
    datevar: str, name of column containing dates in the input df
    newdatevar: str, name of new column to be created containing daily dates
    tradedays: bool, True to use trading days and False to use calendar days
    """
    if trade_days:
        td = tradedays()
    else:
        td = 'D'
    
    expand = partial(_expand2, datevar=datevar, td=td, newdatevar=newdatevar)
    
        
    days =  df[datevar].apply(expand)
    
    days = pd.concat([d for d in days], axis=0).reset_index() #index was daily date

    return df.merge(days, on=datevar, how='left')

In [6]:
import dero
import pandas as pd
import datetime
from dateutil.relativedelta import relativedelta

tradedays = dero.pandas.tradedays

def orig_expand_months(df, datevar='Date', newdatevar='Daily Date', trade_days=True):
    """
    Takes a monthly dataframe and returns a daily (trade day or calendar day) dataframe. 
    For each row in the input data, duplicates that row over each trading/calendar day in the month of 
    the date in that row. Creates a new date column containing the daily date.
    
    NOTE: If the input dataset has multiple observations per month, all of these will be expanded. Therefore
    you will have one row for each trade day for each original observation. 
    
    Required inputs:
    df: pandas dataframe containing a date variable
    
    Optional inputs:
    datevar: str, name of column containing dates in the input df
    newdatevar: str, name of new column to be created containing daily dates
    tradedays: bool, True to use trading days and False to use calendar days
    """
    if trade_days:
        td = tradedays()
    else:
        td = 'D'
    
    outdf = pd.DataFrame()
    for row in df.iterrows():
        series = row[1]
        monthly_date = series[datevar]
        beginning = datetime.date(monthly_date.year, monthly_date.month, 1) #beginning of month of date
        end = beginning + relativedelta(months=1, days=-1) #last day of month
        days = pd.date_range(start=beginning, end=end, freq=td) #trade days within month
        days.name = newdatevar
        outdf = outdf.append( #construct new dataframe and append to output
            pd.DataFrame([series for i in range(len(days))], index=days)
        ) 
        
    return outdf.reset_index()

In [27]:
import numpy
numpy.__name__

'numpy'

In [1]:
import bar
import dero

logger = dero.logging.create_logger()           
dero.logging.apply_logging_to_all_functions_in_module(bar)

bar.Bar().bar2()

6

In [14]:
getattr?

In [34]:
import bar
import types
import inspect

def list_all_vars_of_type(module, typ):

#     for k,v in vars(module).items():
    for k,v in inspect.getmembers(module, inspect.isroutine):
        if isinstance(v, typ):
            print(k, v)
            
            

for typ in [i for i in types.__dict__ if (i[0].upper() == i[0]) and (not i.startswith('_'))]:
    print(typ)
    list_all_vars_of_type(bar, getattr(types, typ))

GeneratorType
FrameType
BuiltinFunctionType
SimpleNamespace
ModuleType
TracebackType
MappingProxyType
DynamicClassAttribute
CodeType
FunctionType
bar3 <function bar3 at 0x000000C4F407DAE8>
CoroutineType
MethodType
LambdaType
bar3 <function bar3 at 0x000000C4F407DAE8>
MemberDescriptorType
BuiltinMethodType
GetSetDescriptorType

In [33]:
f = open('test.txt', 'w')
print(type(f))
f.close()

<class '_io.TextIOWrapper'>

In [35]:
def list_types_of_all_vars_in_module(module):

#     for k,v in vars(module).items():
    for k,v in inspect.getmembers(module, inspect.isroutine):
        print(k, v, type(v))
        if isinstance(v, type):
            for k2,v2 in vars(v).items():
                print(k2, v2, type(v2))
        
list_types_of_all_vars_in_module(bar)

bar3 <function bar3 at 0x000000C4F407DAE8> <class 'function'>

In [25]:
type(bar.Bar())

bar.Bar

In [16]:
[k for k in types.__dict__ ]

['GeneratorType',
 'FrameType',
 'BuiltinFunctionType',
 'SimpleNamespace',
 '__file__',
 'prepare_class',
 'ModuleType',
 'TracebackType',
 'MappingProxyType',
 '_collections_abc',
 '__loader__',
 'DynamicClassAttribute',
 '__package__',
 'new_class',
 'CodeType',
 '__spec__',
 'FunctionType',
 '_functools',
 '__cached__',
 '__all__',
 'CoroutineType',
 '__doc__',
 'MethodType',
 '__name__',
 '__builtins__',
 'LambdaType',
 '_GeneratorWrapper',
 'MemberDescriptorType',
 'coroutine',
 'BuiltinMethodType',
 '_calculate_meta',
 'GetSetDescriptorType']

In [23]:
vars(bar)

{'Bar': bar.Bar,
 '__builtins__': {'ArithmeticError': ArithmeticError,
  'AssertionError': AssertionError,
  'AttributeError': AttributeError,
  'BaseException': BaseException,
  'BlockingIOError': BlockingIOError,
  'BrokenPipeError': BrokenPipeError,
  'BufferError': BufferError,
  'BytesWarning': BytesWarning,
  'ChildProcessError': ChildProcessError,
  'ConnectionAbortedError': ConnectionAbortedError,
  'ConnectionError': ConnectionError,
  'ConnectionRefusedError': ConnectionRefusedError,
  'ConnectionResetError': ConnectionResetError,
  'DeprecationWarning': DeprecationWarning,
  'EOFError': EOFError,
  'Ellipsis': Ellipsis,
  'EnvironmentError': OSError,
  'Exception': Exception,
  'False': False,
  'FileExistsError': FileExistsError,
  'FileNotFoundError': FileNotFoundError,
  'FloatingPointError': FloatingPointError,
  'FutureWarning': FutureWarning,
  'GeneratorExit': GeneratorExit,
  'IOError': OSError,
  'ImportError': ImportError,
  'ImportWarning': ImportWarning,
  'IndentationError': IndentationError,
  'IndexError': IndexError,
  'InterruptedError': InterruptedError,
  'IsADirectoryError': IsADirectoryError,
  'KeyError': KeyError,
  'KeyboardInterrupt': KeyboardInterrupt,
  'LookupError': LookupError,
  'MemoryError': MemoryError,
  'NameError': NameError,
  'None': None,
  'NotADirectoryError': NotADirectoryError,
  'NotImplemented': NotImplemented,
  'NotImplementedError': NotImplementedError,
  'OSError': OSError,
  'OverflowError': OverflowError,
  'PendingDeprecationWarning': PendingDeprecationWarning,
  'PermissionError': PermissionError,
  'ProcessLookupError': ProcessLookupError,
  'RecursionError': RecursionError,
  'ReferenceError': ReferenceError,
  'ResourceWarning': ResourceWarning,
  'RuntimeError': RuntimeError,
  'RuntimeWarning': RuntimeWarning,
  'StopAsyncIteration': StopAsyncIteration,
  'StopIteration': StopIteration,
  'SyntaxError': SyntaxError,
  'SyntaxWarning': SyntaxWarning,
  'SystemError': SystemError,
  'SystemExit': SystemExit,
  'TabError': TabError,
  'TimeoutError': TimeoutError,
  'True': True,
  'TypeError': TypeError,
  'UnboundLocalError': UnboundLocalError,
  'UnicodeDecodeError': UnicodeDecodeError,
  'UnicodeEncodeError': UnicodeEncodeError,
  'UnicodeError': UnicodeError,
  'UnicodeTranslateError': UnicodeTranslateError,
  'UnicodeWarning': UnicodeWarning,
  'UserWarning': UserWarning,
  'ValueError': ValueError,
  'Warning': Warning,
  'WindowsError': OSError,
  'ZeroDivisionError': ZeroDivisionError,
  '__IPYTHON__': True,
  '__build_class__': <function __build_class__>,
  '__debug__': True,
  '__doc__': "Built-in functions, exceptions, and other objects.\n\nNoteworthy: None is the `nil' object; Ellipsis represents `...' in slices.",
  '__import__': <function __import__>,
  '__loader__': _frozen_importlib.BuiltinImporter,
  '__name__': 'builtins',
  '__package__': '',
  '__spec__': ModuleSpec(name='builtins', loader=<class '_frozen_importlib.BuiltinImporter'>),
  'abs': <function abs>,
  'all': <function all>,
  'any': <function any>,
  'ascii': <function ascii>,
  'bin': <function bin>,
  'bool': bool,
  'bytearray': bytearray,
  'bytes': bytes,
  'callable': <function callable>,
  'chr': <function chr>,
  'classmethod': classmethod,
  'compile': <function compile>,
  'complex': complex,
  'copyright': Copyright (c) 2001-2015 Python Software Foundation.
  All Rights Reserved.

  Copyright (c) 2000 BeOpen.com.
  All Rights Reserved.

  Copyright (c) 1995-2001 Corporation for National Research Initiatives.
  All Rights Reserved.

  Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
  All Rights Reserved.,
  'credits':     Thanks to CWI, CNRI, BeOpen.com, Zope Corporation and a cast of thousands
      for supporting Python development.  See www.python.org for more information.,
  'delattr': <function delattr>,
  'dict': dict,
  'dir': <function dir>,
  'divmod': <function divmod>,
  'dreload': <function IPython.lib.deepreload._dreload>,
  'enumerate': enumerate,
  'eval': <function eval>,
  'exec': <function exec>,
  'filter': filter,
  'float': float,
  'format': <function format>,
  'frozenset': frozenset,
  'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000000C4F341E390>>,
  'getattr': <function getattr>,
  'globals': <function globals>,
  'hasattr': <function hasattr>,
  'hash': <function hash>,
  'help': Type help() for interactive help, or help(object) for help about object.,
  'hex': <function hex>,
  'id': <function id>,
  'input': <bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000000C4F341E4E0>>,
  'int': int,
  'isinstance': <function isinstance>,
  'issubclass': <function issubclass>,
  'iter': <function iter>,
  'len': <function len>,
  'license':
  MIT License

  Copyright (c) 2016 Nick DeRobertis

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in all
  copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.,
  'list': list,
  'locals': <function locals>,
  'map': map,
  'max': <function max>,
  'memoryview': memoryview,
  'min': <function min>,
  'next': <function next>,
  'object': object,
  'oct': <function oct>,
  'open': <function io.open>,
  'ord': <function ord>,
  'pow': <function pow>,
  'print': <function print>,
  'property': property,
  'range': range,
  'repr': <function repr>,
  'reversed': reversed,
  'round': <function round>,
  'set': set,
  'setattr': <function setattr>,
  'slice': slice,
  'sorted': <function sorted>,
  'staticmethod': staticmethod,
  'str': str,
  'sum': <function sum>,
  'super': super,
  'tuple': tuple,
  'type': type,
  'vars': <function vars>,
  'zip': zip},
 '__cached__': 'C:\\Users\\derobertisna.UFAD\\Dropbox\\Python\\Dero\\__pycache__\\bar.cpython-35.pyc',
 '__doc__': None,
 '__file__': 'C:\\Users\\derobertisna.UFAD\\Dropbox\\Python\\Dero\\bar.py',
 '__loader__': <_frozen_importlib_external.SourceFileLoader at 0xc4f4085ef0>,
 '__name__': 'bar',
 '__package__': '',
 '__spec__': ModuleSpec(name='bar', loader=<_frozen_importlib_external.SourceFileLoader object at 0x000000C4F4085EF0>, origin='C:\\Users\\derobertisna.UFAD\\Dropbox\\Python\\Dero\\bar.py'),
 'bar3': <function bar.bar3>,
 'bar4': functools.partial(<function bar3 at 0x000000C4F407DAE8>, 5),
 'partial': functools.partial}

In [5]:
%%writefile bar.py

from functools import partial

class Bar:

    def bar1(self):
        return 5

    def bar2(self):
        x = self.bar1()
        return 6
    
def bar3(x):
    return 7 + x

bar4 = partial(bar3, 5)

Overwriting bar.py

In [17]:
crsp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP'
file = 'dsenames'
fullpath = os.path.join(crsp_dir, file + '.sas7bdat')
names_df = dero.pandas.load_sas(fullpath)

In [24]:
names_df['NCUSIP'].apply(lambda x: x if pd.isnull(x) else x[:6])

0        683916
1        683916
2        683916
3        390406
4        29274A
5        29274A
6        29274A
7        29274A
8        29274A
9        29274A
10       29269V
11       29269V
12       367204
13       607401
14       836234
15       836234
16       05978R
17       05978R
18       05978R
19       390318
20       390318
21       189063
22       958155
23          NaN
24          NaN
25          NaN
26       000800
27       819491
28       819491
29       819491
          ...
93509    444097
93510    674215
93511    73936Q
93512    74733V
93513    74733V
93514    74733V
93515    83001A
93516    88166A
93517    88166A
93518    88166A
93519    91167Q
93520    91167Q
93521    92835K
93522    92835K
93523    G3323L
93524    G3323L
93525    11133B
93526    12503M
93527    23248L
93528    43358R
93529    43358R
93530    695255
93531    695255
93532    47737R
93533    620107
93534    92870X
93535    92870X
93536    785135
93537    82936G
93538    88160R
Name: NCUSIP, dtype: object

In [19]:
names_df['NCUSIP'].apply(lambda x: x[:6])

TypeError: 'float' object is not subscriptable

In [14]:
a = [1,2,3]
b = [i if i != 2 else 3 for i in a]
[a,b]

[[1, 2, 3], [1, 3, 3]]

In [12]:
%timeit dero.pandas.portfolio(rand_df, 'rand', ngroups=4, byvars=['index'], multiprocess=False)
# %timeit dero.pandas.portfolio(rand_df, 'rand', ngroups=4, byvars=['index'])

1 loop, best of 3: 3.42 s per loop

Time to beat:

In [13]:
%timeit orig_portfolio(rand_df, 'rand', ngroups=4, byvars=['index'])

1 loop, best of 3: 6min 22s per loop

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:36: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [7]:
# %%writefile portfolio_testing.py

import numpy as np
import pandas as pd
from functools import partial
from multiprocessing import Pool
import timeit
import time, datetime
import logging
import dero

estimate_time = dero.time.estimate_time





def portfolio(df, groupvar, ngroups=10, byvars=None, cutdf=None, portvar='portfolio',
              multiprocess=True):
    '''
    Constructs portfolios based on percentile values of groupvar. If ngroups=10, then will form 10 portfolios,
    with portfolio 1 having the bottom 10 percentile of groupvar, and portfolio 10 having the top 10 percentile
    of groupvar.
    
    df: pandas dataframe, input data
    groupvar: string, name of variable in df to form portfolios on
    ngroups: integer, number of portfolios to form
    byvars: string, list, or None, name of variable(s) in df, finds portfolios within byvars. For example if byvars='Month',
            would take each month and form portfolios based on the percentiles of the groupvar during only that month
    cutdf: pandas dataframe or None, optionally determine percentiles using another dataset. See second note.
    portvar: string, name of portfolio variable in the output dataset
    multiprocess: bool or int, set to True to use all available processors, 
                  set to False to use only one, pass an int less or equal to than number of 
                  processors to use that amount of processors 
    
    NOTE: Resets index and drops in output data, so don't use if index is important (input data not affected)
    NOTE: If using a cutdf, MUST have the same bygroups as df. The number of observations within each bygroup
          can be different, but there MUST be a one-to-one match of bygroups, or this will NOT work correctly.
          This may require some cleaning of the cutdf first.
    '''
    #Check types
    _check_portfolio_inputs(df, groupvar, ngroups=ngroups, byvars=byvars, cutdf=cutdf, portvar=portvar)
    byvars = _assert_byvars_list(byvars)
    if cutdf != None:
        assert isinstance(cutdf, pd.DataFrame)
    else: #this is where cutdf == None, the default case
        cutdf = df
        tempcutdf = cutdf.copy()
        
    pct_per_group = int(100/ngroups)
    percentiles = [i for i in range(0, 100 + pct_per_group, pct_per_group)] #percentile values, e.g. 0, 10, 20, 30... 100
    
    #Create new functions with common arguments added
    create_cutoffs_and_sort_into_ports = partial(_create_cutoffs_and_sort_into_ports, 
                                       groupvar=groupvar, portvar=portvar, percentiles=percentiles)
    split = partial(_split, keepvars=[groupvar], force_numeric=True)
    sort_arr_list_into_ports_and_return_series = partial(_sort_arr_list_into_ports_and_return_series,
                                                         percentiles=percentiles,
                                                         multiprocess=multiprocess)
    
    outdf = df.copy()
    
    #If there are no byvars, just complete portfolio sort
    if byvars == None: return create_cutoffs_and_sort_into_ports(outdf, cutdf)
    
    
    #else, deal with byvars
    #First create a key variable based on all the byvars
    tempdf = df.copy().reset_index(drop=True)
    for this_df in [tempdf, tempcutdf]:
        this_df['__key_var__'] = 'key' #container for key
        for col in [this_df[c].astype(str) for c in byvars]:
            this_df['__key_var__'] += col
    
    #Now split into list of arrays and process
    array_list = split(tempdf)
    cut_array_list = split(tempcutdf)
    outdf[portvar] = sort_arr_list_into_ports_and_return_series(array_list, cut_array_list)
    return outdf

In [4]:
bydf = df.loc[df['PERMNO'] == 10517]
ngroups = 2

pct_per_group = int(100/ngroups)
percentiles = [i for i in range(0, 100 + pct_per_group, pct_per_group)] #percentile values, e.g. 0, 10, 20, 30... 100
    
cutoffs = _create_cutoffs(bydf, 'RET', percentiles)
_sort_into_ports(bydf, cutoffs, 'portvar', 'RET')

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Anaconda3\lib\site-packages\pandas\core\indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

    PERMNO byvar      Date   RET  portvar
8    10517     a  1/1/2000  1.09        1
9    10517     a  1/2/2000  1.10        1
10   10517     a  1/3/2000  1.11        2
11   10517     a  1/4/2000  1.12        2

In [5]:
df['__key_var__'] = df['PERMNO'].apply(lambda x: 'key' + str(x))
df_arr_list = _split(df, ['RET'])
df_arr_list

[array([[1.01],
        [1.02],
        [1.03],
        [1.04],
        [1.05],
        [1.06],
        [1.07],
        [1.08]], dtype=object), array([[1.09],
        [1.1],
        [1.11],
        [1.12]], dtype=object)]

Run this block below to check if portfolio still works properly

In [37]:
large_indf = pd.DataFrame()
for i in range(10):
    large_indf = pd.concat([large_indf, indf], axis=0)
large_indf = large_indf.reset_index(drop=True)

In [15]:
%debug

> <ipython-input-13-a97401e757eb>(46)_create_cutoffs_arr()
     44
     45 def _create_cutoffs_arr(arr, percentiles):
---> 46     arr = arr[~np.isnan(arr)]
     47     return [np.percentile(arr, i) for i in percentiles]
     48

ipdb> arr.dtype
dtype('O')
ipdb> q

Original portfolio

In [35]:
a = orig_portfolio(indf, 'RET', ngroups=2)
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', '1/1/2000', nan, 0),
(10516, 'a', '1/2/2000', 1.02, 1),
(10516, 'a', '1/3/2000', 1.03, 1),
(10516, 'a', '1/4/2000', 1.04, 1),
(10516, 'b', '1/1/2000', 1.05, 1),
(10516, 'b', '1/2/2000', 1.06, 1),
(10516, 'b', '1/3/2000', 1.07, 2),
(10516, 'b', '1/4/2000', 1.08, 2),
(10517, 'a', '1/1/2000', 1.09, 2),
(10517, 'a', '1/2/2000', 1.1, 2),
(10517, 'a', '1/3/2000', 1.11, 2),
(10517, 'a', '1/4/2000', 1.12, 2),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'portfolio'])

In [3]:
import numpy as np

def orig_portfolio(df, groupvar, ngroups=10, byvars=None, cutdf=None, portvar='portfolio'):
    '''
    Constructs portfolios based on percentile values of groupvar. If ngroups=10, then will form 10 portfolios,
    with portfolio 1 having the bottom 10 percentile of groupvar, and portfolio 10 having the top 10 percentile
    of groupvar.
    
    df: pandas dataframe, input data
    groupvar: string, name of variable in df to form portfolios on
    ngroups: integer, number of portfolios to form
    byvars: string, list, or None, name of variable(s) in df, finds portfolios within byvars. For example if byvars='Month',
            would take each month and form portfolios based on the percentiles of the groupvar during only that month
    cutdf: pandas dataframe or None, optionally determine percentiles using another dataset
    portvar: string, name of portfolio variable in the output dataset
    
    NOTE: Resets index and drops in output data, so don't use if index is important (input data not affected)
    '''
    #Check types
    assert isinstance(df, pd.DataFrame)
    assert isinstance(groupvar, str)
    assert isinstance(ngroups, int)
    if byvars != None:
        if isinstance(byvars, str): byvars = [byvars]
        else:
            assert isinstance(byvars, list)
    if cutdf != None:
        assert isinstance(cutdf, pd.DataFrame)
    else: #this is where cutdf == None, the default case
        cutdf = df
        tempcutdf = cutdf.copy()
        
    def sort_into_ports(df, cutoffs, portvar=portvar, groupvar=groupvar):
        df[portvar] = 0
        for i, (low_cut, high_cut) in enumerate(zip(cutoffs[:-1],cutoffs[1:])):
                rows = df[(outdf[groupvar] >= low_cut) & (df[groupvar] <= high_cut)].index
                df.loc[rows, portvar] = i + 1
        return df

    outdf = df.copy().reset_index(drop=True)
    
    pct_per_group = int(100/ngroups)
    percentiles = [i for i in range(0, 100 + pct_per_group, pct_per_group)] #percentile values, e.g. 0, 10, 20, 30... 100

    if byvars == None:
        cutoffs = [np.nanpercentile(cutdf[groupvar], i) for i in percentiles] #values of variable associated with percentiles
        return sort_into_ports(outdf, cutoffs)
    else: #here we have to deal with byvars
        #First create a key variable based on all the byvars
        outdf['key'] = 'key' #container for key
        tempcutdf['key'] = 'key'
        for col in [outdf[c].astype(str) for c in byvars]:
            outdf['key'] += col
            tempcutdf['key'] += col
        key_list = outdf['key'].unique().tolist()
        #Now calculate cutoffs. We will have one set of cutoffs for each key.
        outdf2 = pd.DataFrame()
        
        for key in key_list:
            keydf =    outdf[outdf['key'] == key].copy()
            keycutdf = tempcutdf[tempcutdf['key'] == key]
            cutoffs = [np.nanpercentile(keycutdf[groupvar], i) for i in percentiles]
            keydf = sort_into_ports(keydf, cutoffs)
            outdf2 = outdf2.append(keydf)
            
        outdf2.drop('key', axis=1, inplace=True)
            
        return outdf2.sort_index()

In [1]:
import dero
import pandas as pd
# inpath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Investor Attention\Other Data\POSTDATA_HLSPREAD_26_14_TICKER_v2014_1.csv'
inpath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Investor Attention\merged data.csv'

def create_reg_variables(df):
    """
    Creates other variables necessary for abnormal volume regression. 
    
    Note: inplace
    """
    df['total_polar_news'] = df['news_negative'] + df['news_positive']
    df['advertising ratio'] = df['xad']/df['saleq']
    df['profit margin'] = df['niq']/df['saleq']
    df['invest ratio'] = df['capxq']/df['atq']
    df['bm'] = df['ceqq']/df['mktcap']

df = pd.read_csv(inpath)
create_reg_variables(df)

In [ ]:
df = df.loc[:5000]

In [3]:
for date in ['Date', 'datadate_a', 'datadate_q', 'rdate']:
    df[date] = pd.to_datetime(df[date])
    
create_reg_variables(df)

In [9]:
dero.pandas.show_df(df.loc[df['TICKER'] == 'AAN'])

In [4]:
df.columns

Index(['volume', 'TICKER', 'Date', 'PERMNO', 'RET-1', 'RET12', 'RET24',
       'RET36', 'RET48', 'RET60', 'cum_RET-1', 'cum_RET12', 'cum_RET24',
       'cum_RET36', 'cum_RET48', 'cum_RET60', 'PRC', 'RET', 'SHROUT', 'VOL',
       'mktcap', 'idio vol', 'extreme_ret', 'HLSPREAD', 'Year', 'Month',
       'GVKEY', 'turnover', 'news_negative', 'news_neutral', 'news_positive',
       'datadate_a', 'xad', 'datadate_q', 'saleq', 'atq', 'ceqq', 'niq',
       'capxq', 'rdate', 'inst', 'passive inst', 'perm passive inst'],
      dtype='object')

In [14]:
df.dropna(subset=['volume'] + xvars)[['volume','extreme_ret','total_polar_news','turnover','advertising ratio']].corr()

,volume,extreme_ret,total_polar_news,turnover,advertising ratio
volume,1.000000,0.051397,0.669575,0.631262,-0.068177
extreme_ret,0.051397,1.000000,-0.044320,0.194514,0.046064
total_polar_news,0.669575,-0.044320,1.000000,0.323530,-0.045110
turnover,0.631262,0.194514,0.323530,1.000000,0.133804
advertising ratio,-0.068177,0.046064,-0.045110,0.133804,1.000000

In [35]:
xvars = ['atq','bm','idio vol','extreme_ret','HLSPREAD','turnover','total_polar_news',
         'advertising ratio', 'profit margin', 'invest ratio', 'inst']
j = 0
for i in range(1, len(xvars)):
        for combo in itertools.combinations(xvars, i):
            j += 1
j

2046

In [82]:
regdf.head()

,volume,TICKER,Date,PERMNO,RET-1,RET12,RET24,RET36,RET48,RET60,...,capxq,rdate,inst,passive inst,perm passive inst,total_polar_news,advertising ratio,profit margin,invest ratio,bm
138,0.0,AAII,2004-01-01,83918.0,0.392027,-0.178462,NaN,NaN,NaN,NaN,...,2.043,2003-12-31,0.779962,0.463083,0.538439,4.0,0.113970,-0.346682,0.003822,0.000093
139,0.0,AAII,2004-02-01,83918.0,0.126889,-0.138577,NaN,NaN,NaN,NaN,...,2.043,2003-12-31,0.779962,0.463083,0.538439,46.0,0.113970,-0.346682,0.003822,0.000173
140,0.0,AAII,2004-03-01,83918.0,-0.460642,-0.691304,NaN,NaN,NaN,NaN,...,2.043,2003-12-31,0.779962,0.463083,0.538439,48.0,0.113970,-0.346682,0.003822,0.000394
141,0.0,AAII,2004-04-01,83918.0,-0.566099,NaN,NaN,NaN,NaN,NaN,...,2.572,2004-03-31,0.629700,0.525235,0.412807,38.0,0.136783,-0.847573,0.005127,0.000154
142,0.0,AAII,2004-05-01,83918.0,-0.040724,NaN,NaN,NaN,NaN,NaN,...,2.572,2004-03-31,0.629700,0.525235,0.412807,6.0,0.136783,-0.847573,0.005127,0.000212

In [84]:
regdf = df.dropna(subset=['volume'] + xvars)
y = regdf['volume']
X = regdf.loc[:, xvars]
X = sm.add_constant(X)
groups = regdf['TICKER'].unique().tolist()
group_ints = regdf['TICKER'].apply(lambda x: groups.index(x))
# times = regdf['Date'].unique().tolist()

mod = sm.OLS(y, X)
mod.fit(cov_type='cluster', cov_kwds={'groups': group_ints}).summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 volume   R-squared:                       0.785
Model:                            OLS   Adj. R-squared:                  0.782
Method:                 Least Squares   F-statistic:                 1.535e+15
Date:                Wed, 27 Jul 2016   Prob (F-statistic):           4.24e-60
Time:                        17:04:38   Log-Likelihood:                -10802.
No. Observations:                 762   AIC:                         2.163e+04
Df Residuals:                     748   BIC:                         2.170e+04
Df Model:                          13
Covariance Type:              cluster
=====================================================================================
                        coef    std err          z      P>|z|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
const              3.076e+04   1.23e+05      0.250      0.803     -2.11e+05  2.72e+05
atq                  10.7554      1.800      5.974      0.000         7.227    14.284
bm                -6.448e+06   8.25e+07     -0.078      0.938     -1.68e+08  1.55e+08
idio vol          -1.183e+07   3.78e+06     -3.127      0.002     -1.92e+07 -4.41e+06
extreme_ret        3.988e+04   2.97e+04      1.344      0.179     -1.83e+04  9.81e+04
HLSPREAD           7.356e+06   4.69e+06      1.570      0.116     -1.83e+06  1.65e+07
turnover           1.871e+06   6.08e+05      3.077      0.002      6.79e+05  3.06e+06
total_polar_news    149.9754    389.627      0.385      0.700      -613.680   913.631
advertising ratio -6.927e+05   4.48e+05     -1.545      0.122     -1.57e+06  1.86e+05
profit margin     -8.099e+04   1.21e+05     -0.672      0.502     -3.17e+05  1.55e+05
invest ratio       2.585e+06   2.09e+06      1.235      0.217     -1.52e+06  6.69e+06
inst              -1.089e+06   4.63e+05     -2.352      0.019        -2e+06 -1.81e+05
passive inst       9.964e+05   3.77e+05      2.642      0.008      2.57e+05  1.74e+06
perm passive inst  2.657e+05   2.94e+05      0.904      0.366      -3.1e+05  8.42e+05
==============================================================================
Omnibus:                      274.470   Durbin-Watson:                   0.581
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3411.468
Skew:                           1.258   Prob(JB):                         0.00
Kurtosis:                      13.056   Cond. No.                     1.25e+08
==============================================================================

Warnings:
[1] Standard Errors are robust tocluster correlation (cluster)
[2] The condition number is large, 1.25e+08. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [79]:
mod.fit??

In [ ]:
sm.OLS().fit

In [85]:
import stats

ImportError: No module named 'stats'

In [1]:
import os
os.chdir(r'C:\Users\derobertisna.UFAD\Dropbox\Python\Dero\scratch testing')

In [2]:
%%writefile regs.py

import itertools
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col

import timeit, sys
import dero
from functools import partial

estimate_time = dero.time.estimate_time
parallel_loop_with_timeout = dero.multiprocessing.parallel_loop_with_timeout

def reg(df, xvars, yvar, robust=True, cluster=False):
    """
    Returns a fitted regression. Takes df, produces a regression df with no missing among needed
    variables, and fits a regression model. If robust is specified, uses heteroskedasticity-
    robust standard errors. If cluster is specified, calculated clustered standard errors
    by the given variable. 
    
    Note: only specify at most one of robust and cluster.
    
    Required inputs:
    df: pandas dataframe containing regression data
    xvars: list of strs, column names of x variables for regression
    yvar: str, column name of outcome y variable
    
    Optional inputs:
    robust: bool, set to True to use heterskedasticity-robust standard errors
    cluster: False or str, set to a column name to calculate standard errors within clusters
             given by unique values of given column name
    """
    regdf = df.dropna(subset=[yvar] + xvars)
    y = regdf[yvar]
    X = regdf.loc[:, xvars]
    X = sm.add_constant(X)

    mod = sm.OLS(y, X)
    
    assert not (robust and cluster) #need to pick one of robust or cluster
    
    if robust:
        return mod.fit(cov_type='HC1')
    
    if cluster:
        groups = regdf[cluster].unique().tolist()
        group_ints = regdf[cluster].apply(lambda x: groups.index(x))
        return mod.fit(cov_type='cluster', cov_kwds={'groups': group_ints})
    
    return mod.fit()


def reg_for_each_combo(df, xvars, yvar, **reg_kwargs):
    """
    Takes each possible combination of xvars (starting from each var individually, then each pair
    of vars, etc. all the way up to all xvars), and regresses yvar on each set of xvars. Returns
    a list of fitted regressions.
    """   
    #Get the entire list of combinations of xvars to run regressions with
    combo_list = []
    for i in range(1, len(xvars) + 1):
        for combo in itertools.combinations(xvars, i):
            combo_list.append(list(combo))
            
    df_reg = partial(reg, df, yvar=yvar, **reg_kwargs)
    
    results = parallel_loop_with_timeout(df_reg, combo_list, timeout=2)
    return [res[1] for res in results if res[1] != 'timeout'] #strip results from result tuples
            
#     reg_list = []
#     num_regs = len(combo_list)
#     start_time = timeit.default_timer()
#     for i, x in enumerate(combo_list):
#         reg_list.append(reg(df, x, yvar=yvar, **reg_kwargs))
#         estimate_time(num_regs, i, start_time)
        
#         ####TEMPPPPPP
#         print(i)
#         ######################
        
        
#         sys.stdout.flush()

    
#     reg_list = []
#     for i in range(1, len(xvars) + 1):
#         for combo in itertools.combinations(xvars, i):
#             x = list(combo)
#             reg_list.append(reg(df, x, yvar=yvar, **reg_kwargs))
            
#     return reg_list

def select_models(reg_list, keepnum, xvars):
    """
    Takes a list of fitted regression models and selects among them based on adjusted R-Squared. For each
    number of variables involved in the regressions, keepnum with the highest R-squareds will be kept.
    
    For example, if reg_list contains 3 regressions with two variables and 6 regressions with three variables,
    and keepnum is 2, will return a list of four regressions, 2 with two variables and 2 with three variables.
    """
    outlist = []
    for i in range(1, len(xvars) + 1):
        reg_list_match = [reg for reg in reg_list if reg.df_model == i] #select models with this many variables
        try:
            r2_min = sorted([reg.rsquared_adj for reg in reg_list_match])[-keepnum] #gets keepnumth highest r2
        except IndexError: #should happen once there are less models run than keepnum (i.e. with all xvars)
            r2_min = sorted([reg.rsquared_adj for reg in reg_list_match])[0] #gets lowest r2 (keep all)
        outlist += [reg for reg in reg_list_match if reg.rsquared_adj >= r2_min]
    return outlist

def produce_summary(reg_list, stderr=False):

    summ =  summary_col(reg_list, stars=True, float_format='%0.1f',
            info_dict={'N':lambda x: "{0:d}".format(int(x.nobs)),
                      'R2':lambda x: "{:.2f}".format(x.rsquared),
                      'Adj-R2':lambda x: "{:.2f}".format(x.rsquared_adj)})
    
    if not stderr:
        summ.tables[0].drop('', axis=0, inplace=True) #drops the rows containing standard errors
        
    return summ

def reg_for_each_combo_select_and_produce_summary(df, xvars, yvar, robust=True, cluster=False,
                                                  keepnum=5, stderr=False):
    """
    Convenience function to run regressions for every combination of xvars, select the best models,
    and present them in a summary format. Returns a tuple of (reg_list, summary) where reg_list
    is a list of fitted regression models, and summary is a single dataframe of results
    
    Required inputs:
    df: pandas dataframe containing regression data
    xvars: list of strs, column names of all possible x variables
    yvar: str, column name of y variable
    
    Optional inputs:
    robust: bool, set to True to use heterskedasticity-robust standard errors
    cluster: False or str, set to a column name to calculate standard errors within clusters
             given by unique values of given column name
    keepnum: int, number to keep for each amount of x variables. The total number of outputted
             regressions will be roughly keepnum * len(xvars)
    stderr: bool, set to True to keep rows for standard errors below coefficient estimates
    
    Note: only specify at most one of robust and cluster.
    
    """
    reg_list = reg_for_each_combo(df, xvars, yvar, robust=robust, cluster=cluster)
    outlist = select_models(reg_list, keepnum, xvars)
    summ = produce_summary(outlist, stderr=stderr) 
    return outlist, summ

Overwriting regs.py

In [ ]:
import os
os.chdir(r'C:\Users\derobertisna.UFAD\Dropbox\Python\Dero\scratch testing')

import regs
import dero
import pandas as pd
# inpath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Investor Attention\Other Data\POSTDATA_HLSPREAD_26_14_TICKER_v2014_1.csv'
inpath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Investor Attention\merged data.csv'

def create_reg_variables(df):
    """
    Creates other variables necessary for abnormal volume regression. 
    
    Note: inplace
    """
    df['total_polar_news'] = df['news_negative'] + df['news_positive']
    df['advertising ratio'] = df['xad']/df['saleq']
    df['profit margin'] = df['niq']/df['saleq']
    df['invest ratio'] = df['capxq']/df['atq']
    df['bm'] = df['ceqq']/df['mktcap']

df = pd.read_csv(inpath)
create_reg_variables(df)
df = df.loc[:5000]

xvars = ['atq','bm','idio vol','extreme_ret','HLSPREAD','turnover','total_polar_news',
         'advertising ratio', 'profit margin', 'invest ratio', 'inst', 'passive inst', 'perm passive inst']

outlist, summary = regs.reg_for_each_combo_select_and_produce_summary(df, xvars, 'volume', keepnum=4)
summary

Estimated finish time: 2016-09-03 12:37:07.293569. Completed 64/8191, (1%)

In [1]:
import itertools
for combo in itertools.combinations(['a','b','c'], 2):
    print(combo)

('a', 'b')
('a', 'c')
('b', 'c')

In [1]:
import itertools

xvars = ['atq','bm','idio vol','extreme_ret','HLSPREAD','turnover','total_polar_news',
         'advertising ratio', 'profit margin', 'invest ratio', 'inst', 'passive inst', 'perm passive inst']

combo_list = []
for i in range(1, len(xvars) + 1):
    for combo in itertools.combinations(xvars, i):
        combo_list.append(list(combo))

In [2]:
len(combo_list)

8191

In [63]:
summary.tables[0].drop('', axis=0, inplace=True)

In [66]:
len(xvars)

13

In [65]:
len(a.columns)

48

In [64]:
summary

<class 'statsmodels.iolib.summary2.Summary'>
"""

================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================
                    volume I   volume II    volume III volume IIII volume IIIII volume IIIIII volume IIIIIII volume IIIIIIII volume IIIIIIIII volume IIIIIIIIII volume IIIIIIIIIII volume IIIIIIIIIIII volume IIIIIIIIIIIII volume IIIIIIIIIIIIII volume IIIIIIIIIIIIIII volume IIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII volume IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
HLSPREAD                                                                                                                                                                                                                                                                                                                                                                                                                                10768145.1***                                                                                                                 8950708.9***                                                                                             7265064.8***                                                                                                      9336880.7***                            7667082.5***                             6743361.5**                               7717463.9***                               7081594.8***                                8093904.0***                                 7198178.7***                                  6524014.4**                                    7550150.0***                                    7665302.9***                                     7578753.7***                                      7827760.4***                                       6991926.4**                                         7583963.1***                                         7968673.1***                                          7044028.6**                                            7280401.9***
advertising ratio                                                               57015.9       -1781825.5***  -547429.4*      -775518.7***     -108811.0         158292.2           -1255613.8***       -747318.2***         -684996.2***          -710705.5***           -654175.3***            -576368.4***             -625847.9***              -567341.9**                -754719.4***                -556938.6**                  -516601.7**                   -572208.2***                   -666176.2***                    -641728.6***                     -608037.8***                      -651627.3***                       -723502.4***                        -598852.2***                         -662349.6***                          -630277.6***                           -589208.6***                            -627033.9***                             -618892.0***                              -582964.9***                               -652296.5***                                -609914.0***                                 -602575.1***                                  -676688.3***                                   -654200.8***                                    -657859.7***                                     -632050.3***                                      -665312.3***                                       -678254.0***                                        -632144.9***                                         -669845.4***                                          -679594.7***                                           -690718.6***
atq               16.2***                                          13.2***      12.5***                                      10.3***          8.0***            12.6***                                9.9***               10.6***               11.4***                11.4***                 10.1***                  10.9***                   10.9***                    11.6***                     10.1***                      10.2***                       10.1***                        11.0***                         11.0***                          11.1***                           11.0***                            11.0***                             11.1***                              11.1***                               11.0***                                11.1***                                 10.5***                                  11.1***                                   11.1***                                    11.1***                                     10.6***                                      11.2***                                       11.1***                                        11.1***                                         11.1***                                          10.6***                                           10.7***                                            11.1***                                             10.6***                                              10.7***                                               11.1***                                                10.8***
bm                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           -11087743.7                                                                                                                                                                                               -426274.1                                            -12916927.4                                           -4611956.7
const             223872.1*** -22099.8     293348.8*** 73902.3**   -81742.9***  141671.1***   -50621.7       120876.6***     -157993.4***     99323.1***        81586.6*           -134419.1***        -49251.4*            -42657.6              -132658.6***           -116051.9***            139443.6***              32904.9                   36346.0                    -113455.1***                172660.3***                  80662.5**                     111014.1***                    64405.0                         95992.5**                        19835.0                           44592.4                            67668.0*                            54243.4                              103267.1**                            77956.6*                               -4266.9                                 33870.7                                  63224.8                                   30883.2                                    58364.8                                     11663.5                                      39717.8                                       68025.5                                        31928.1                                         38666.1                                          19592.7                                           18543.8                                            41342.6                                             19830.5                                              26067.4                                               44074.4                                                27088.2
extreme_ret                                                                                                                                                                                                                                                                                                                                                                                                54132.8***                                                                                                                47680.0***                                                                                                                                39268.3***                           51270.0***                            45891.2***                                                                     37794.6***                               42825.0***                                36691.6***                                 39605.9***                                  35329.8**                                    40228.7***                                    43348.7***                                     36628.1***                                      37471.3***                                       38917.0***                                        35694.2**                                          40375.4***                                          38945.9***                                           36653.7**                                             40697.9***                                             39441.9***
idio vol                                                                                                                                                                                               -6098029.8***                                                                             -7763641.8***            -6908091.7***             -6860291.6***                                          -9974368.2***                -11481538.2***                -7683385.5***                  -7382233.9***                   -9346514.2***                    -10479519.6***                    -7299269.8***                      -7491290.0***                       -11513962.2***                       -10012325.5***                        -9202914.7***                          -10521536.0***                          -11327230.3***                           -11905950.5***                            -11484686.4***                             -11564117.3***                              -11305669.5***                               -11870998.4***                                -11977441.2***                                 -11546626.9***                                  -11562515.8***                                   -11695488.1***                                    -11416464.7***                                     -11959043.1***                                      -11695634.9***                                       -11431804.1***                                        -11962546.0***                                         -11826768.8***
inst                                                                                                                                                            118470.6*                                                   -215233.6***                                                         -300162.4***                                                                  -1033785.1***               -312128.9***                 -277112.7***                  -318288.1***                   -1084018.5***                   -1062048.5***                    -1034009.7***                     -1083696.1***                      -1137113.8***                       -1025333.5***                        -1074059.7***                         -1062603.3***                          -1031504.8***                           -1008864.3***                            -1037849.3***                             -1023692.6***                              -1074759.5***                               -1007989.6***                                -1036091.3***                                 -1091021.8***                                  -1092060.9***                                   -1091835.8***                                    -1019852.0***                                     -1074016.2***                                      -1108336.9***                                       -1019773.8***                                        -1073314.4***                                         -1108120.7***                                          -1089190.0***
invest ratio                                                                                                                                                                                                                                                                                                                                                                                                                                                          3139171.7**                                                                                                                       2304894.5*                                                                                                                                        1965527.2                              2583889.8**                                                                                                                2264164.1*                                                                             2221458.8*                                   2245099.6*                                                                                   2734617.4**                                     2624015.4**                                      2198863.0*                                        2655583.3**                                        2735946.2**                                         2194258.4*                                           2524809.7*                                            2689931.2**                                            2650700.0**

In [52]:
xvars = ['atq','bm','idio vol', 'extreme_ret']
keepnum = 2

C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:372: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'
C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:374: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'
C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'

<class 'statsmodels.iolib.summary2.Summary'>
"""

=========================================================================================
              volume I    volume II    volume III  volume IIII volume IIIII volume IIIIII
-----------------------------------------------------------------------------------------
atq         16.2***                   16.2***      16.2***     16.3***      15.9***
            (0.6)                     (0.6)        (0.6)       (0.6)        (0.6)
bm                                    -13886160.8*             -14614578.7*
                                      (8018307.3)              (8018107.9)
const       223872.1*** 533313.4***   236141.0***  210279.8*** 222638.6***  294989.8***
            (19540.1)   (30384.7)     (20773.3)    (20697.8)   (21766.0)    (33768.2)
extreme_ret                                        29761.5**   30973.7**    60751.7***
                                                   (15054.4)   (15058.3)    (17915.6)
idio vol                -6398959.2***                                       -4653596.2***
                        (1091499.1)                                         (1468213.2)
N           1615        1855          1615         1615        1615         1615
R2          0.34        0.02          0.34         0.34        0.34         0.35
Adj-R2      0.34        0.02          0.34         0.34        0.34         0.35
=========================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""

In [42]:
reg_list[4].df_model

2.0

C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:372: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'
C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:374: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'
C:\Anaconda3\lib\site-packages\statsmodels\iolib\summary2.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  res.ix[:, 0][idx] = res.ix[:, 0][idx] + '*'

<class 'statsmodels.iolib.summary2.Summary'>
"""

======================================================================================
           volume I   volume II    volume III  volume IIII  volume IIIII volume IIIIII
--------------------------------------------------------------------------------------
atq      16.2***                               16.2***      16.0***
         (0.6)                                 (0.6)        (0.6)
bm                   -344425.4                 -13886160.8*              1674150.2
                     (9868484.3)               (8018307.3)               (9793301.3)
const    223872.1*** 451387.0*** 533313.4***   236141.0***  265011.7***  608898.9***
         (19540.1)   (23916.7)   (30384.7)     (20773.3)    (32696.4)    (37927.4)
idio vol                         -6398959.2***              -1936476.7   -7916169.5***
                                 (1091499.1)                (1234287.2)  (1487497.0)
N        1615        1615        1855          1615         1615         1615
R2       0.34        0.00        0.02          0.34         0.34         0.02
Adj-R2   0.34        -0.00       0.02          0.34         0.34         0.02
======================================================================================
Standard errors in parentheses.
* p<.1, ** p<.05, ***p<.01
"""

In [ ]:
res.

In [30]:
summary_col?

In [12]:
# xvars = ['atq','bm','idio vol','extreme_ret','HLSPREAD','turnover','total_polar_news',
#          'advertising ratio', 'profit margin', 'invest ratio', 'inst']
xvars = ['atq','bm','idio vol']


print(reg_volume(df, xvars).summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 volume   R-squared:                       0.777
Model:                            OLS   Adj. R-squared:                  0.774
Method:                 Least Squares   F-statistic:                     254.1
Date:                Wed, 27 Jul 2016   Prob (F-statistic):          2.12e-252
Time:                        14:10:11   Log-Likelihood:                -11540.
No. Observations:                 813   AIC:                         2.310e+04
Df Residuals:                     801   BIC:                         2.316e+04
Df Model:                          11
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------
const               7.82e+04   5.11e+04      1.529      0.127     -2.22e+04  1.79e+05
atq                   9.3641      0.493     18.997      0.000         8.397    10.332
bm                -4.107e+07   3.86e+07     -1.064      0.288     -1.17e+08  3.47e+07
idio vol          -1.245e+07   1.38e+06     -9.011      0.000     -1.52e+07 -9.74e+06
extreme_ret        4.295e+04   1.46e+04      2.934      0.003      1.42e+04  7.17e+04
HLSPREAD           1.028e+07   2.76e+06      3.725      0.000      4.86e+06  1.57e+07
turnover           1.805e+06   6.85e+04     26.369      0.000      1.67e+06  1.94e+06
total_polar_news    382.5811    168.952      2.264      0.024        50.939   714.223
advertising ratio -5.628e+05   2.17e+05     -2.590      0.010     -9.89e+05 -1.36e+05
profit margin     -3.476e+04    5.2e+04     -0.669      0.504     -1.37e+05  6.73e+04
invest ratio       2.473e+06    1.3e+06      1.906      0.057     -7.37e+04  5.02e+06
inst              -2.656e+05   5.11e+04     -5.195      0.000     -3.66e+05 -1.65e+05
==============================================================================
Omnibus:                      294.663   Durbin-Watson:                   0.536
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3482.115
Skew:                           1.292   Prob(JB):                         0.00
Kurtosis:                      12.804   Cond. No.                     1.36e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.36e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [26]:
from pandas import Timestamp
import numpy 
b = pd.DataFrame(data = [
('001076', Timestamp('1995-03-01 00:00:00'), Timestamp('1995-02-01 00:00:00')),
('001076', Timestamp('1995-04-01 00:00:00'), Timestamp('1995-03-02 00:00:00')),
('001722', Timestamp('2012-01-01 00:00:00'), Timestamp('2011-11-01 00:00:00')),
('001722', Timestamp('2012-07-01 00:00:00'), Timestamp('2011-11-01 00:00:00')),
('001722', numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns')),
(numpy.datetime64('NaT'), numpy.datetime64('2012-01-01T00:00:00.000000000'), numpy.datetime64('NaT')),
], columns = ['GVKEY', 'Date', 'Date_y'])

In [27]:
b.dtypes

GVKEY     object
Date      object
Date_y    object
dtype: object

In [23]:
a.dtypes

GVKEY             object
Date      datetime64[ns]
Date_y    datetime64[ns]
dtype: object

In [20]:
def left_merge_latest(df, df2, on, left_datevar='Date', right_datevar='Date'):
    if isinstance(on, str):
        on = [on]
        
    rename = False
    #if they are named the same, pandas will automatically add _x and _y to names
    if left_datevar == right_datevar: 
        rename = True #will need to rename the _x datevar for the last step
        orig_left_datevar = left_datevar
        left_datevar += '_x'
        right_datevar += '_y'
    
    many = df.merge(df2, on=on, how='left')
    lt = many.loc[many[left_datevar] >= many[right_datevar]] #left with datadates less than date

    #find rows within groups which have the maximum right_datevar (soonest before left_datevar)
    data_rows = lt.groupby(on + [left_datevar], as_index=False)[right_datevar].max() \
        .merge(lt, on=on + [left_datevar, right_datevar], how='left')
        
    if rename: #remove the _x for final merge
        data_rows.rename(columns={left_datevar: orig_left_datevar}, inplace=True)
        return df.merge(data_rows, on=on + [orig_left_datevar], how='left')
    
    #if no renaming is required, just merge and exit
    return df.merge(data_rows, on=on + [left_datevar], how='left')

In [16]:
left_datevar = 'Date_x'
right_datevar = 'Date_y'
on = ['GVKEY']

many = df_gvkey_str.merge(df_gvkey_str2, on='GVKEY', how='left')
lt = many.loc[many['Date_x'] >= many['Date_y']]
data_rows = lt.groupby(on + [left_datevar], as_index=False)[right_datevar].max() \
        .merge(lt, on=on + [left_datevar, right_datevar], how='left')
data_rows

    GVKEY     Date_x     Date_y
0  001076 1995-03-01 1995-02-01
1  001076 1995-04-01 1995-03-02
2  001722 2012-01-01 2011-11-01
3  001722 2012-07-01 2011-11-01

In [2]:
import dero
comp = dero.compustat.load_compustat(get=['sale', 'capx'], freq='q', debug=True)
comp.head()

    gvkey   datadate   saleq  capxq
0  001076 1981-06-30     NaN    NaN
1  001076 1981-09-30     NaN    NaN
2  001076 1981-12-31     NaN    NaN
3  001076 1982-03-31  48.632    NaN
4  001076 1982-06-30  13.539    NaN

In [5]:
dero.pandas.show_df(comp)

In [ ]:
def merge_compustat(df, compdf, datevar='Date'):
    return dero.pandas.left_merge_latest(df, compdf, 'gvkey',
                                         left_datevar=datevar,
                                         right_datevar='datadate')

In [2]:
import dero
a = dero.data.load_and_merge_compustat(df_gvkey_str, get=['sale', 'capx'], freq='q',
                                                  gvkeyvar='GVKEY', debug=True)
dero.pandas.to_copy_paste(a)
a

pd.DataFrame(data = [
('001076', Timestamp('1995-03-01 00:00:00'), Timestamp('1994-12-31 00:00:00'), 56.511, 21.96799999999999),
('001076', Timestamp('1995-04-01 00:00:00'), Timestamp('1995-03-31 00:00:00'), 59.551, 29.421000000000006),
('001722', Timestamp('2012-01-01 00:00:00'), Timestamp('2011-12-31 00:00:00'), 23306.0, 409.0),
('001722', Timestamp('2012-07-01 00:00:00'), Timestamp('2012-06-30 00:00:00'), 22675.0, 284.0),
(numpy.timedelta64(1722,'ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns')),
(numpy.datetime64('NaT'), numpy.datetime64('2012-01-01T00:00:00.000000000'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT')),
], columns = ['gvkey', 'Date', 'datadate', 'saleq', 'capxq'])

    gvkey       Date   datadate      saleq    capxq
0  001076 1995-03-01 1994-12-31     56.511   21.968
1  001076 1995-04-01 1995-03-31     59.551   29.421
2  001722 2012-01-01 2011-12-31  23306.000  409.000
3  001722 2012-07-01 2012-06-30  22675.000  284.000
4  001722        NaT        NaT        NaN      NaN
5     NaN 2012-01-01        NaT        NaN      NaN

For some reason, 001722 is still not working correctly even though 001076 is fine. Capxq should be (409, 284). It seems that for some reason, it's grabbing the prior observation. Saleq should be (23306, 22675)

Also, did not do lagging by groups, so first obs for each group is probably wrong

In [17]:
'abcc'[:-1]

'abc'

In [3]:
dero.pandas.show_df(comp)

In [9]:
import dero

df = df_gvkey_num.rename(columns={'Date':'abc'})
a = dero.data.load_and_merge_compustat(df, get=['sale','at','ceq'], freq='a',
                                   gvkeyvar='GVKEY', debug=True, datevar='abc')
dero.pandas.to_copy_paste(a)
a

pd.DataFrame(data = [
('001076', Timestamp('1995-03-01 00:00:00'), Timestamp('1994-03-31 00:00:00'), 185.18400000000003, 144.917, 59.83),
('001076', Timestamp('1995-04-01 00:00:00'), Timestamp('1995-03-31 00:00:00'), 228.892, 157.52700000000002, 84.95100000000001),
('001722', Timestamp('2012-01-01 00:00:00'), Timestamp('2011-06-30 00:00:00'), 80676.0, 42193.0, 18808.0),
('001722', Timestamp('2012-07-01 00:00:00'), Timestamp('2012-06-30 00:00:00'), 89038.0, 42193.0, 18808.0),
(numpy.timedelta64(1722,'ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns'), numpy.timedelta64('NaT','ns')),
(numpy.datetime64('NaT'), numpy.datetime64('2012-01-01T00:00:00.000000000'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT')),
], columns = ['gvkey', 'abc', 'datadate', 'sale', 'at', 'ceq'])

    gvkey        abc   datadate       sale         at        ceq
0  001076 1995-03-01 1994-03-31    185.184    144.917     59.830
1  001076 1995-04-01 1995-03-31    228.892    157.527     84.951
2  001722 2012-01-01 2011-06-30  80676.000  42193.000  18808.000
3  001722 2012-07-01 2012-06-30  89038.000  42193.000  18808.000
4  001722        NaT        NaT        NaN        NaN        NaN
5     NaN 2012-01-01        NaT        NaN        NaN        NaN

In [13]:
dero.pandas.to_copy_paste(df_gvkey_num)

pd.DataFrame(data = [
('001076', Timestamp('1995-03-01 00:00:00')),
('001076', Timestamp('1995-04-01 00:00:00')),
('001722', Timestamp('2012-01-01 00:00:00')),
('001722', Timestamp('2012-07-01 00:00:00')),
(numpy.timedelta64(1722,'ns'), numpy.timedelta64('NaT','ns')),
(numpy.datetime64('NaT'), numpy.datetime64('2012-01-01T00:00:00.000000000')),
], columns = ['gvkey', 'Date'])

In [12]:
type(a.loc[4,'gvkey'])

str

In [2]:
import os, dero
from numpy import nan, float64, issubdtype, number

def load_and_merge_compustat(df, get=['sale'], freq='a', gvkeyvar='gvkey', datevar='Date', debug=False,
                             comp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\Compustat'):
    """
    Convenience function for both loading and merging compustat to existing dataframe.
    
    Required inputs:
    df: Pandas dataframe containing a date variable and gvkey, gvkey variable must be 'gvkey'
    
    Optional inputs:
    get: List of strings, variable names to pull from compustat, not including those needed for
         the merge. Do not add the 'q' for quarterly variables, this is done automatically.
    freq: string, 'a' or 'q' for annual or quarterly compustat (funda, fundq)
    datevar: string, name of date variable in df on which to merge. Will pull the newest data
             that is before or on this date.
    debug: bool, True to restrict to only gvkeys (001076, 001722)
    comp_dir: string, directory containing compustat files
    """
    convert_gvkey(df, gvkeyvar)
    comp = load_compustat(freq, get=get, debug=debug, comp_dir=comp_dir)
    return merge_compustat(df, comp, datevar=datevar)

def compustat_keep_mask(df):
    return (df['indfmt'] == 'INDL') & (df['datafmt'] == 'STD') & \
           (df['popsrc'] == 'D')    & (df['consol'] == 'C')
    
def add_q(get, freq):
    """
    Takes a list of get vars and adds q to work with quarterly file
    """
    if freq in ('q', 'quarterly'):
        return [g + 'q' for g in get]
    else:
        return get
    
def check_freq(freq):
    freq = freq.lower()
    assert freq in ('a','q','annual','quarterly')
    return freq

def freq_to_name(freq, debug):
    if freq in ('a','annual'):
        name = 'funda'
    elif freq in ('q', 'quarterly'):
        name = 'fundq'
    if debug:
        name += '_test'
    name += '.sas7bdat'
    return name
    
def keep_relevant_data_compustat(df, get=['sale'], freq='a'):
    get = add_q(get, freq) #adds 'q' to getvars if freq='q'
    mask = compustat_keep_mask(df)
    keepvars = ['gvkey','datadate'] + get
    return df.loc[mask, keepvars].reset_index(drop=True)

def convert_date_compustat(df):
    df['datadate'] = dero.pandas.convert_sas_date_to_pandas_date(df['datadate'])
    
def load_compustat(freq, get=['sale'], debug=False, comp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\Compustat'):
    freq = check_freq(freq)
    name = freq_to_name(freq, debug)
    path = os.path.join(comp_dir, name)
    comp = dero.pandas.load_sas(path, dtype={'gvkey':str})
    comp = keep_relevant_data_compustat(comp, freq=freq)
    convert_date_compustat(comp)
    return comp

def merge_compustat(df, compdf, datevar='Date'):
    many = df.merge(compdf, on='gvkey', how='left')
    lt = many.loc[many[datevar] >= many['datadate']] #left with datadates less than date

    #find rows within groups which have the maximum datadate (soonest before given date)
    data_rows = lt.groupby(['gvkey',datevar], as_index=False).max()
    
    return df.merge(data_rows, on=['gvkey',datevar], how='left')

def convert_numeric_gvkey_to_string(gvkey):
    """
    Converts a single numeric gvkey to string
    """
    str_gvkey = str(int(gvkey))
    num_zeroes = 6 - len(str_gvkey)
    return '0' * num_zeroes + str_gvkey

def convert_gvkey_col(gvkey):
    """
    Converts a column of numeric gvkeys to string
    """
    if pd.isnull(gvkey): return nan
    else:
        return convert_numeric_gvkey_to_string(gvkey)
    
def convert_gvkey(df, gvkeyvar):
    """
    Renames gvkeyvar to 'gvkey' and converts to string if necessary
    
    Note: this is inplace
    """
    if gvkeyvar != 'gvkey':
        df.rename(columns={gvkeyvar: 'gvkey'}, inplace=True)
    if issubdtype(df['gvkey'].dtype, number):
        df['gvkey'] = df['gvkey'].apply(convert_gvkey_col)

In [26]:
import numpy as np

np.issubdtype(df_gvkey_num['GVKEY'].dtype, np.number)

True

In [23]:
import pandas as pd


    
    
convert_gvkey(df)

In [24]:
df

    gvkey       Date
0  001076 1995-03-01
1  001076 1995-04-01
2  001722 2012-01-01
3  001722 2012-07-01
4  001722        NaT
5     NaN 2012-01-01

In [4]:
df = df_gvkey_num.rename(columns={'GVKEY':'gvkey'})
a = load_and_merge_compustat(df, debug=True)
a

    gvkey       Date datadate  sale
0  1076.0 1995-03-01      NaT   NaN
1  1076.0 1995-04-01      NaT   NaN
2  1722.0 2012-01-01      NaT   NaN
3  1722.0 2012-07-01      NaT   NaN

In [8]:
a

    gvkey       Date   datadate       sale
0  1076.0 1995-03-01 1994-03-31    185.184
1  1076.0 1995-04-01 1995-03-31    228.892
2  1722.0 2012-01-01 2011-06-30  80676.000
3  1722.0 2012-07-01 2012-06-30  89038.000

In [8]:
lt.groupby(['gvkey','Date'], as_index=False).min()

    gvkey       Date   datadate    saleq
0  1076.0 1995-03-01 1981-06-30   13.019
1  1076.0 1995-04-01 1981-06-30   13.019
2  1722.0 2012-01-01 1965-12-31  161.136
3  1722.0 2012-07-01 1965-12-31  161.136

In [2]:
# merge_compustat(df, comp)

In [43]:
comp_dir = r'C:\Users\derobertisna.UFAD\Desktop\Data\Compustat'
filename = r'fundq_test.sas7bdat'
filepath = os.path.join(comp_dir, filename)
comp = dero.pandas.load_sas(filepath)
comp

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,costat,fic,cshtrq,dvpspq,dvpsxq,mkvaltq,prccq,prchq,prclq,adjex
0,001076,7851.0,1981.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,70.875
1,001076,7943.0,1981.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,70.875
2,001076,8035.0,1981.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,70.875
3,001076,8125.0,1981.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,70.875
4,001076,8216.0,1982.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,70.875
5,001076,8308.0,1982.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,NaN,0.000,0.000,NaN,NaN,NaN,NaN,20.250
6,001076,8400.0,1982.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,1235900.0,0.000,0.000,NaN,19.249981,21.999979,18.999979,20.250
7,001076,8490.0,1982.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,534500.0,0.000,0.000,NaN,27.749954,27.749954,19.249981,20.250
8,001076,8581.0,1983.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,461850.0,0.000,0.000,NaN,24.500000,25.750000,17.833313,13.500
9,001076,8673.0,1983.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,372100.0,0.000,0.000,NaN,17.000000,24.500000,17.000000,13.500
10,001076,8765.0,1983.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,633100.0,0.000,0.000,NaN,18.250000,18.250000,14.500000,13.500
11,001076,8856.0,1983.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,434500.0,0.000,0.000,NaN,15.500000,19.500000,14.000000,13.500
12,001076,8947.0,1984.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,320400.0,0.000,0.000,NaN,16.500000,18.000000,15.250000,13.500
13,001076,9039.0,1984.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,447000.0,0.000,0.000,NaN,16.500000,18.000000,14.000000,13.500
14,001076,9131.0,1984.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,265900.0,0.000,0.000,NaN,17.250000,17.750000,16.000000,13.500
15,001076,9221.0,1984.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,768300.0,0.000,0.000,NaN,21.750000,22.750000,17.250000,13.500
16,001076,9312.0,1985.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,658000.0,0.000,0.000,NaN,21.000000,23.000000,19.125000,13.500
17,001076,9404.0,1985.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,587600.0,0.000,0.000,NaN,19.750000,21.750000,19.000000,13.500
18,001076,9496.0,1985.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,933700.0,0.000,0.000,NaN,17.250000,22.250000,15.500000,13.500
19,001076,9586.0,1985.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,612700.0,0.000,0.000,NaN,17.500000,18.250000,15.875000,13.500
20,001076,9677.0,1986.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,749100.0,0.000,0.000,NaN,18.500000,20.000000,17.000000,13.500
21,001076,9769.0,1986.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,892400.0,0.000,0.000,NaN,17.250000,19.750000,17.000000,13.500
22,001076,9861.0,1986.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,1642499.0,0.000,0.050,NaN,15.250000,17.750000,14.000000,13.500
23,001076,9951.0,1986.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,730800.0,0.050,0.000,NaN,16.500000,17.750000,13.750000,13.500
24,001076,10042.0,1987.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,442300.0,0.000,0.050,NaN,11.000000,17.000000,10.750000,13.500
25,001076,10134.0,1987.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,253700.0,0.050,0.000,NaN,12.250000,13.250000,11.250000,13.500
26,001076,10226.0,1987.0,3.0,3.0,INDL,C,D,STD,AAN,...,A,USA,671400.0,0.000,0.050,NaN,7.000000,12.250000,6.500000,13.500
27,001076,10317.0,1987.0,4.0,3.0,INDL,C,D,STD,AAN,...,A,USA,419100.0,0.050,0.000,NaN,11.000000,12.500000,6.500000,13.500
28,001076,10408.0,1988.0,1.0,3.0,INDL,C,D,STD,AAN,...,A,USA,380200.0,0.000,0.050,NaN,9.750000,11.250000,9.000000,13.500
29,001076,10500.0,1988.0,2.0,3.0,INDL,C,D,STD,AAN,...,A,USA,292200.0,0.050,0.000,NaN,10.625000,11.750000,9.750000,13.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,001722,17256.0,2007.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,519568725.0,0.115,0.115,23599.7882,36.700000,37.840000,30.200000,1.000
300,001722,17347.0,2007.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,426974425.0,0.115,0.115,21276.8700,33.090000,39.650000,32.050000,1.000
301,001722,17439.0,2008.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,358784946.0,0.115,0.115,21266.8343,33.080000,37.020000,31.280000,1.000
302,001722,17531.0,2008.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,386241754.0,0.115,0.115,29881.2801,46.430000,47.330000,32.430000,1.000
303,001722,17622.0,2008.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,405840090.0,0.130,0.130,26503.8707,41.160000,47.180000,38.110000,1.000
304,001722,17713.0,2008.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,480365220.0,0.130,0.130,21735.0000,33.750000,48.950000,31.650000,1.000
305,001722,17805.0,2009.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,507156227.0,0.130,0.130,14054.6953,21.910000,33.910000,19.700000,1.000
306,001722,17897.0,2009.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,590230431.0,0.130,0.130,18505.6887,28.830000,29.080000,13.530000,1.000
307,001722,17987.0,2009.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,503927710.0,0.140,0.140,17834.7600,27.780000,29.500000,24.080000,1.000
308,001722,18078.0,2009.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,371283168.0,0.140,0.140,17186.3400,26.770000,29.400000,23.130000,1.000
309,001722,18170.0,2010.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,344544489.0,0.140,0.140,18759.2400,29.220000,32.130000,26.000000,1.000
310,001722,18262.0,2010.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,284600433.0,0.140,0.140,20132.3300,31.310000,33.000000,27.660000,1.000
311,001722,18352.0,2010.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,332438821.0,0.150,0.150,18582.7000,28.900000,31.890000,28.060000,1.000
312,001722,18443.0,2010.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,398472327.0,0.150,0.150,16498.9800,25.820000,29.260000,24.220000,1.000
313,001722,18535.0,2011.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,356159981.0,0.150,0.150,20396.8800,31.920000,33.545000,25.020000,1.000
314,001722,18627.0,2011.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,326191570.0,0.150,0.150,19160.9600,30.080000,34.030000,28.530000,1.000
315,001722,18717.0,2011.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,412586495.0,0.160,0.160,22974.3800,36.010000,38.020100,30.130000,1.000
316,001722,18808.0,2011.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,411777067.0,0.160,0.160,20381.4000,30.150000,37.280000,28.980000,1.000
317,001722,18900.0,2012.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,440809723.0,0.160,0.160,16573.0800,24.810000,32.410000,24.420000,1.000
318,001722,18992.0,2012.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,281616153.0,0.175,0.175,18933.2000,28.600000,30.550000,23.690000,1.000
319,001722,19083.0,2012.0,3.0,6.0,INDL,C,D,STD,ADM,...,A,USA,284623215.0,0.175,0.175,20895.6000,31.660000,32.360000,28.110000,1.000
320,001722,19174.0,2012.0,4.0,6.0,INDL,C,D,STD,ADM,...,A,USA,298976595.0,0.175,0.175,19453.6800,29.520000,33.980000,28.550000,1.000
321,001722,19266.0,2013.0,1.0,6.0,INDL,C,D,STD,ADM,...,A,USA,310111702.0,0.175,0.175,17911.6200,27.180000,29.330000,25.020000,1.000
322,001722,19358.0,2013.0,2.0,6.0,INDL,C,D,STD,ADM,...,A,USA,314729721.0,0.175,0.175,18050.0100,27.390000,29.230000,24.380000,1.000
323,001722,19448.0,2013.0,1.0,12.0,INDL,C,D,STD,ADM,...,A,USA,287721907.0,0.190,0.190,22228.0700,33.730000,33.770000,27.900000,1.000
324,001722,19539.0,2013.0,2.0,12.0,INDL,C,D,STD,ADM,...,A,USA,260474564.0,0.190,0.190,22346.6900,33.910000,35.045000,31.500000,1.000
325,001722,19631.0,2013.0,3.0,12.0,INDL,C,D,STD,ADM,...,A,USA,217342729.0,0.190,0.190,24240.7200,36.840000,38.810000,34.110000,1.000
326,001722,19723.0,2013.0,4.0,12.0,INDL,C,D,STD,ADM,...,A,USA,290343713.0,0.190,0.190,28600.6000,43.400000,43.990000,36.010000,1.000
327,001722,19813.0,2014.0,1.0,12.0,INDL,C,D,STD,ADM,...,A,USA,284775907.0,0.240,0.240,28420.4500,43.390000,43.604000,37.920000,1.000
328,001722,19904.0,2014.0,2.0,12.0,INDL,C,D,STD,ADM,...,A,USA,188633894.0,0.240,0.240,28583.2800,44.110000,45.400000,41.720000,1.000

In [10]:
times = [
        [-4, -2, 0],
        [-3, 1, 2],
        [4, 5, 6],
        [0, 1, 2],
        [-1, 0, 1]
    ]
i = 3
method = 'between'

for i in range(len(times)):
    tcp = dero.pandas._map_windows(df_period, times[i], method=method, periodvar='Date', byvars=['PERMNO'])
    dero.pandas.to_copy_paste(tcp)

pd.DataFrame(data = [
(10516, Timestamp('2000-01-01 00:00:00'), 1.01, 0),
(10516, Timestamp('2000-01-02 00:00:00'), 1.02, 1),
(10516, Timestamp('2000-01-03 00:00:00'), 1.03, 1),
(10516, Timestamp('2000-01-04 00:00:00'), 1.04, 2),
(10516, Timestamp('2000-01-05 00:00:00'), 1.05, 2),
(10516, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10516, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10516, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
(10517, Timestamp('2000-01-01 00:00:00'), 1.09, 0),
(10517, Timestamp('2000-01-02 00:00:00'), 1.1, 1),
(10517, Timestamp('2000-01-03 00:00:00'), 1.11, 1),
(10517, Timestamp('2000-01-04 00:00:00'), 1.12, 2),
(10517, Timestamp('2000-01-05 00:00:00'), 1.05, 2),
(10517, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10517, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10517, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
], columns = ['PERMNO', 'Date', 'RET', '__map_window__'])
pd.DataFrame(data = [
(10516, Timestamp('2000-01-01 00:00:00'), 1.01, 0),
(10516, Timestamp('2000-01-02 00:00:00'), 1.02, 1),
(10516, Timestamp('2000-01-03 00:00:00'), 1.03, 1),
(10516, Timestamp('2000-01-04 00:00:00'), 1.04, 1),
(10516, Timestamp('2000-01-05 00:00:00'), 1.05, 1),
(10516, Timestamp('2000-01-06 00:00:00'), 1.06, 2),
(10516, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10516, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
(10517, Timestamp('2000-01-01 00:00:00'), 1.09, 0),
(10517, Timestamp('2000-01-02 00:00:00'), 1.1, 1),
(10517, Timestamp('2000-01-03 00:00:00'), 1.11, 1),
(10517, Timestamp('2000-01-04 00:00:00'), 1.12, 1),
(10517, Timestamp('2000-01-05 00:00:00'), 1.05, 1),
(10517, Timestamp('2000-01-06 00:00:00'), 1.06, 2),
(10517, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10517, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
], columns = ['PERMNO', 'Date', 'RET', '__map_window__'])
pd.DataFrame(data = [
(10516, Timestamp('2000-01-01 00:00:00'), 1.01, 0),
(10516, Timestamp('2000-01-02 00:00:00'), 1.02, 1),
(10516, Timestamp('2000-01-03 00:00:00'), 1.03, 2),
(10516, Timestamp('2000-01-04 00:00:00'), 1.04, 3),
(10516, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10516, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10516, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10516, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
(10517, Timestamp('2000-01-01 00:00:00'), 1.09, 0),
(10517, Timestamp('2000-01-02 00:00:00'), 1.1, 1),
(10517, Timestamp('2000-01-03 00:00:00'), 1.11, 2),
(10517, Timestamp('2000-01-04 00:00:00'), 1.12, 3),
(10517, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10517, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10517, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10517, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
], columns = ['PERMNO', 'Date', 'RET', '__map_window__'])
pd.DataFrame(data = [
(10516, Timestamp('2000-01-01 00:00:00'), 1.01, 0),
(10516, Timestamp('2000-01-02 00:00:00'), 1.02, 1),
(10516, Timestamp('2000-01-03 00:00:00'), 1.03, 2),
(10516, Timestamp('2000-01-04 00:00:00'), 1.04, 3),
(10516, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10516, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10516, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10516, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
(10517, Timestamp('2000-01-01 00:00:00'), 1.09, 0),
(10517, Timestamp('2000-01-02 00:00:00'), 1.1, 1),
(10517, Timestamp('2000-01-03 00:00:00'), 1.11, 2),
(10517, Timestamp('2000-01-04 00:00:00'), 1.12, 3),
(10517, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10517, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10517, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10517, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
], columns = ['PERMNO', 'Date', 'RET', '__map_window__'])
pd.DataFrame(data = [
(10516, Timestamp('2000-01-01 00:00:00'), 1.01, 0),
(10516, Timestamp('2000-01-02 00:00:00'), 1.02, 1),
(10516, Timestamp('2000-01-03 00:00:00'), 1.03, 2),
(10516, Timestamp('2000-01-04 00:00:00'), 1.04, 3),
(10516, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10516, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10516, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10516, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
(10517, Timestamp('2000-01-01 00:00:00'), 1.09, 0),
(10517, Timestamp('2000-01-02 00:00:00'), 1.1, 1),
(10517, Timestamp('2000-01-03 00:00:00'), 1.11, 2),
(10517, Timestamp('2000-01-04 00:00:00'), 1.12, 3),
(10517, Timestamp('2000-01-05 00:00:00'), 1.05, 3),
(10517, Timestamp('2000-01-06 00:00:00'), 1.06, 3),
(10517, Timestamp('2000-01-07 00:00:00'), 1.07, 3),
(10517, Timestamp('2000-01-08 00:00:00'), 1.08, 3),
], columns = ['PERMNO', 'Date', 'RET', '__map_window__'])

In [4]:
df_date

    PERMNO byvar       Date   RET
10   10516     a 2000-01-01  1.01
11   10516     a 2000-01-02  1.02
12   10516     a 2000-01-03  1.03
13   10516     a 2000-01-04  1.04
14   10516     b 2000-01-01  1.05
15   10516     b 2000-01-02  1.06
16   10516     b 2000-01-03  1.07
17   10516     b 2000-01-04  1.08
18   10517     a 2000-01-01  1.09
19   10517     a 2000-01-02  1.10
20   10517     a 2000-01-03  1.11
21   10517     a 2000-01-04  1.12

In [6]:
df_date = df.copy()
df_date['Date'] = pd.to_datetime(df_date['Date'])
df_date.index = df_date.index + 10
tcp = dero.pandas.cumulate(df_date, 'RET', 'between', periodvar='Date',
                        byvars=['PERMNO','byvar'], time=[-2,0])
dero.pandas.to_copy_paste(tcp)
tcp

2016-07-13 19:44:24: Initializing cumulate.
2016-07-13 19:44:24: Creating by groups.
pd.DataFrame(data = [
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('NaT'), numpy.datetime64('1970-01-01T00:00:00.000000001')),
(10516.0, 'a', Timestamp('2000-01-01 00:00:00'), 1.01, 1.2210000000000003),
(10516.0, 'a', Timestamp('2000-01-02 00:00:00'), 1.02, 1.12),
(10516.0, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, nan),
(10516.0, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, nan),
(10516.0, 'b', Timestamp('2000-01-01 00:00:00'), 1.05, nan),
(10516.0, 'b', Timestamp('2000-01-02 00:00:00'), 1.06, nan),
(10516.0, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, nan),
(10516.0, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, nan),
(10517.0, 'a', Timestamp('2000-01-01 00:00:00'), 1.09, nan),
(10517.0, 'a', Timestamp('2000-01-02 00:00:00'), 1.1, nan),
(10517.0, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, nan),
(10517.0, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, nan),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'cum_RET'])

     PERMNO byvar       Date   RET  cum_RET
0       NaN   NaN        NaT   NaN   1.0100
1       NaN   NaN        NaT   NaN   1.0200
2       NaN   NaN        NaT   NaN   1.0506
3       NaN   NaN        NaT   NaN   1.0400
4       NaN   NaN        NaT   NaN   1.0500
5       NaN   NaN        NaT   NaN   1.0600
6       NaN   NaN        NaT   NaN   1.1342
7       NaN   NaN        NaT   NaN   1.0800
8       NaN   NaN        NaT   NaN   1.0900
9       NaN   NaN        NaT   NaN   1.1000
10  10516.0     a 2000-01-01  1.01   1.2210
11  10516.0     a 2000-01-02  1.02   1.1200
12  10516.0     a 2000-01-03  1.03      NaN
13  10516.0     a 2000-01-04  1.04      NaN
14  10516.0     b 2000-01-01  1.05      NaN
15  10516.0     b 2000-01-02  1.06      NaN
16  10516.0     b 2000-01-03  1.07      NaN
17  10516.0     b 2000-01-04  1.08      NaN
18  10517.0     a 2000-01-01  1.09      NaN
19  10517.0     a 2000-01-02  1.10      NaN
20  10517.0     a 2000-01-03  1.11      NaN
21  10517.0     a 2000-01-04  1.12      NaN

In [7]:
df_date = df.copy()
df_date['Date'] = pd.to_datetime(df_date['Date'])
tcp = dero.pandas.cumulate(df_date, 'RET', 'between', periodvar='Date',
                        byvars=['PERMNO','byvar'], time=[-2,0])
dero.pandas.to_copy_paste(tcp)
tcp

2016-07-13 19:44:35: Initializing cumulate.
2016-07-13 19:44:35: Creating by groups.
pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-01 00:00:00'), 1.01, 1.01),
(10516, 'a', Timestamp('2000-01-02 00:00:00'), 1.02, 1.02),
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, 1.0506),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, 1.04),
(10516, 'b', Timestamp('2000-01-01 00:00:00'), 1.05, 1.05),
(10516, 'b', Timestamp('2000-01-02 00:00:00'), 1.06, 1.06),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, 1.1342),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, 1.08),
(10517, 'a', Timestamp('2000-01-01 00:00:00'), 1.09, 1.09),
(10517, 'a', Timestamp('2000-01-02 00:00:00'), 1.1, 1.1),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, 1.2210000000000003),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, 1.12),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'cum_RET'])

    PERMNO byvar       Date   RET  cum_RET
0    10516     a 2000-01-01  1.01   1.0100
1    10516     a 2000-01-02  1.02   1.0200
2    10516     a 2000-01-03  1.03   1.0506
3    10516     a 2000-01-04  1.04   1.0400
4    10516     b 2000-01-01  1.05   1.0500
5    10516     b 2000-01-02  1.06   1.0600
6    10516     b 2000-01-03  1.07   1.1342
7    10516     b 2000-01-04  1.08   1.0800
8    10517     a 2000-01-01  1.09   1.0900
9    10517     a 2000-01-02  1.10   1.1000
10   10517     a 2000-01-03  1.11   1.2210
11   10517     a 2000-01-04  1.12   1.1200

In [4]:
crsp = dero.data.GetCRSP(debug=True)
out = crsp.pull_crsp(ticker_df, coid='TICKER', get='RET', cumret='between',
                                 time=[0,3], other_byvars='byvar', drop_first=True)
dero.pandas.to_copy_paste(out)
out

2016-07-13 20:56:37: Initializing pull_crsp function
2016-07-13 20:56:37: Checking inputs.
2016-07-13 20:56:37: Company ID is not PERMNO. Getting PERMNO.
2016-07-13 20:56:38: Pulled PERMNO from dsenames.
2016-07-13 20:56:38: Loading CRSP dataframe...
2016-07-13 20:56:38: Loaded.
2016-07-13 20:56:38: Converting SAS date to Pandas format.
2016-07-13 20:56:38: Converted.
2016-07-13 20:56:38: Time detected.
2016-07-13 20:56:38: Cumret detected, will generate intermediate periods.
2016-07-13 20:56:38: Generating periods [0, 3] + itermediate
2016-07-13 20:56:38: Initializing expand_time for periods [0, 1, 2, 3].
2016-07-13 20:56:38: Calculating number of rows.
2016-07-13 20:56:38: Calculating number of duplicates.
2016-07-13 20:56:38: Duplicating observations 3 times.
2016-07-13 20:56:38: Duplicated.
2016-07-13 20:56:38: Creating shift variable.
2016-07-13 20:56:38: Creating shifted date.
2016-07-13 20:56:38: expand_time completed.
2016-07-13 20:56:38: Finished generating periods. Generating key.
2016-07-13 20:56:38: Merging CRSP to dataframe.
2016-07-13 20:56:38: Completed merge.
2016-07-13 20:56:38: Cumret detected.
2016-07-13 20:56:38: Cumulating returns with method between for time [0, 3].
2016-07-13 20:56:38: Initializing cumulate.
2016-07-13 20:56:38: Creating by groups.
--Call--
> c:\anaconda3\lib\warnings.py(378)__exit__()
-> def __exit__(self, *exc_info):
(Pdb) c
2016-07-13 20:56:39: Reshaping long to wide.
pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, -0.036363635212183, -0.15005286684689223),
('a', Timestamp('2008-01-01 00:00:00'), 'AAN', nan, nan, nan),
('a', Timestamp('2009-01-02 00:00:00'), 'AAN', nan, nan, nan),
('a', Timestamp('2010-01-03 00:00:00'), 'AAN', 78049.0, nan, nan),
('a', Timestamp('2011-01-04 00:00:00'), 'AAN', 10517.0, 0.13525237143039703, 0.5010296116623514),
], columns = ['byvar', 'Date', 'TICKER', 'PERMNO', 'RET3', 'cum_RET3'])

   byvar       Date TICKER   PERMNO      RET3  cum_RET3
0      a 2000-01-01    ADM  10516.0 -0.036364 -0.150053
1      a 2000-01-02    ADM  10516.0 -0.036364 -0.150053
2      a 2000-01-03    ADM  10516.0 -0.036364 -0.150053
3      a 2000-01-04    ADM  10516.0 -0.036364 -0.150053
4      b 2000-01-01    ADM  10516.0 -0.036364 -0.150053
5      b 2000-01-02    ADM  10516.0 -0.036364 -0.150053
6      b 2000-01-03    ADM  10516.0 -0.036364 -0.150053
7      b 2000-01-04    ADM  10516.0 -0.036364 -0.150053
8      a 2008-01-01    AAN      NaN       NaN       NaN
9      a 2009-01-02    AAN      NaN       NaN       NaN
10     a 2010-01-03    AAN  78049.0       NaN       NaN
11     a 2011-01-04    AAN  10517.0  0.135252  0.501030

In [13]:
import pdb
pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3525)_transform_item_by_item()
-> raise TypeError('Transform function invalid for data types')
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3402)_transform_general()
-> return self._transform_item_by_item(obj, fast_path)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3457)transform()
-> return self._transform_general(func, *args, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(869)groupby_merge()
-> grouped = func(*func_args)[subset] #apply the class method and select subset columns
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(1113)_map_windows()
-> df = groupby_merge(df, byvars, 'transform', (wm), subset=periodvar)
(Pdb) df
    PERMNO byvar      Date   RET
0    10516     a  1/1/2000  2.01
1    10516     a  1/2/2000  2.02
2    10516     a  1/3/2000  2.03
3    10516     a  1/4/2000  2.04
4    10516     b  1/1/2000  2.05
5    10516     b  1/2/2000  2.06
6    10516     b  1/3/2000  2.07
7    10516     b  1/4/2000  2.08
8    10517     a  1/1/2000  2.09
9    10517     a  1/2/2000  2.10
10   10517     a  1/3/2000  2.11
11   10517     a  1/4/2000  2.12
(Pdb) byvars
['PERMNO', 'byvar']
(Pdb) periodvar
'Date'
(Pdb) q

In [1]:
import dill
inpath = r'C:\Users\derobertisna.UFAD\Dropbox\UF\Corbin\Short Sale Project\fail_cumulate.p'
df = dill.load(open(inpath, 'rb')).drop('cum_RET', axis=1)
df.head()

,RP_ENTITY_ID,news_negative,news_neutral,news_positive,CUSIP,TICKER,NCUSIP,PERMNO,GVKEY,Begin,End,Begin info,End info,Shift,Shift Date,key,RET
0,00067A,2.0,1.0,19.0,444859102,XNYS:HUM,44485910,48653.0,27914.0,2003-01-15,2003-02-14,2003-01-28,2003-02-27,-21,2002-12-13,48653.0_1042588800000000000_1039737600000000000,-0.010763
1,00067A,2.0,1.0,19.0,444859102,XNYS:HUM,44485910,48653.0,27914.0,2003-01-15,2003-02-14,2003-01-28,2003-02-27,-20,2002-12-16,48653.0_1042588800000000000_1039996800000000000,0.007913
2,00067A,2.0,1.0,19.0,444859102,XNYS:HUM,44485910,48653.0,27914.0,2003-01-15,2003-02-14,2003-01-28,2003-02-27,-19,2002-12-17,48653.0_1042588800000000000_1040083200000000000,0.012758
3,00067A,2.0,1.0,19.0,444859102,XNYS:HUM,44485910,48653.0,27914.0,2003-01-15,2003-02-14,2003-01-28,2003-02-27,-18,2002-12-18,48653.0_1042588800000000000_1040169600000000000,0.002907
4,00067A,2.0,1.0,19.0,444859102,XNYS:HUM,44485910,48653.0,27914.0,2003-01-15,2003-02-14,2003-01-28,2003-02-27,-17,2002-12-19,48653.0_1042588800000000000_1040256000000000000,-0.020290

In [2]:
import dero
test = df.loc[:,['PERMNO','Begin','Shift Date','Shift','RET']]
# test = df.loc[df['PERMNO'].isin([48653,87843]), ['PERMNO','Begin','Shift Date','Shift','RET']]
# test = df.loc[df['PERMNO'] == 85349, ['PERMNO','Begin','Shift Date','Shift','RET']]

cum = dero.pandas.cumulate(test, ['RET'], periodvar='Shift Date', method='between',
                               byvars=['PERMNO','Begin'], time=[-21,-5,0], grossify=True)

cum[cum['PERMNO'] == 87843]
# cum

2016-07-13 20:26:03: Initializing cumulate.
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(298)cumulate()
-> if not byvars:  byvars = ['__map_window__']
(Pdb) c
2016-07-13 20:26:06: Creating by groups.

      PERMNO      Begin Shift Date  Shift       RET   cum_RET
88   87843.0 2003-01-15 2002-12-13    -21 -0.011538 -0.011538
89   87843.0 2003-01-15 2002-12-16    -20  0.031128  0.031128
90   87843.0 2003-01-15 2002-12-17    -19 -0.001887  0.029183
91   87843.0 2003-01-15 2002-12-18    -18 -0.001890  0.027237
92   87843.0 2003-01-15 2002-12-19    -17  0.006818  0.034241
93   87843.0 2003-01-15 2002-12-20    -16  0.000752  0.035019
94   87843.0 2003-01-15 2002-12-23    -15  0.001880  0.036965
95   87843.0 2003-01-15 2002-12-24    -14 -0.001876  0.035019
96   87843.0 2003-01-15 2002-12-26    -13 -0.002632  0.032296
97   87843.0 2003-01-15 2002-12-27    -12 -0.008669  0.023346
98   87843.0 2003-01-15 2002-12-30    -11 -0.013688  0.009339
99   87843.0 2003-01-15 2002-12-31    -10 -0.028527 -0.019455
100  87843.0 2003-01-15 2003-01-02     -9  0.003968 -0.015564
101  87843.0 2003-01-15 2003-01-03     -8  0.006324 -0.009339
102  87843.0 2003-01-15 2003-01-06     -7  0.015318  0.005837
103  87843.0 2003-01-15 2003-01-07     -6 -0.002708  0.003113
104  87843.0 2003-01-15 2003-01-08     -5 -0.014740 -0.011673
105  87843.0 2003-01-15 2003-01-09     -4  0.019685  0.019685
106  87843.0 2003-01-15 2003-01-10     -3 -0.005791  0.013780
107  87843.0 2003-01-15 2003-01-13     -2 -0.015534 -0.001968
108  87843.0 2003-01-15 2003-01-14     -1 -0.014990 -0.016929
109  87843.0 2003-01-15 2003-01-15      0  0.002803 -0.014173

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10802 entries, 0 to 10801
Data columns (total 5 columns):
PERMNO        10802 non-null float64
Begin         10802 non-null datetime64[ns]
Shift Date    10802 non-null datetime64[ns]
Shift         10802 non-null int64
RET           10674 non-null float64
dtypes: datetime64[ns](2), float64(2), int64(1)
memory usage: 506.3 KB

Below function should be returning appropriate windows for between [-21,-5,0]. This is why cumulate is broken.

In [25]:
from itertools import chain

def create_windows(periods, time):
    time = [t - time[0] for t in time] #shifts time so that first period is period 0
    windows = [[0]]
    t_bot = 0
    for i, t in enumerate(time): #pick each element of time
        if t == 0: continue #already added zero
        windows.append([i for i in range(t_bot + 1, t + 1)])
        t_bot = t
    #The last window is all the leftover periods after finishing time
    extra_windows = [[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]]
    if extra_windows != [[]]: #don't want to add empty window
        windows += extra_windows
    return windows

create_windows(test['Shift Date'],[-21,-5,0])

[[0],
 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
 [17, 18, 19, 20, 21]]

In [16]:
import random 

df_sasdate['test'] = [random.randint(0,1000) for i in range(len(df_sasdate))]
test = df_sasdate.set_index('test', drop=True)

In [ ]:
filepath = r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP\dsenames.sas7bdat'
names_df = dero.pandas.load_sas(filepath)

# convert_sas_date_to_pandas_date(names_df['NAMEDT'])

names_df['start'] = convert_sas_date_to_pandas_date(names_df['NAMEDT'])
names_df['end'] = convert_sas_date_to_pandas_date(names_df['NAMEENDT'])
names_df['end'] = names_df['end'].fillna(datetime.date.today())

names_df

In [13]:
dero.data.merge_dsenames(ticker_df, other_byvars='byvar')

> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(65)merge_dsenames()
-> names_df['start'] = convert_sas_date_to_pandas_date(names_df['NAMEDT'])
(Pdb) n
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(66)merge_dsenames()
-> names_df['end'] = convert_sas_date_to_pandas_date(names_df['NAMEENDT'])
(Pdb) n
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(67)merge_dsenames()
-> names_df['end'] = names_df['end'].fillna(datetime.date.today())
(Pdb) n
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(71)merge_dsenames()
-> merged = df[[on, date] + other_byvars].merge(names_df[['start','end', on] + get], how='left', on=on)
(Pdb) n
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(73)merge_dsenames()
-> valid = (merged[date] >= merged['start']) & (merged[date] <= merged['end'])
(Pdb) merged.head()
  TICKER       Date byvar      start        end   PERMNO
0    ADM 2000-01-01     a 2004-06-10 2004-06-09  10516.0
1    ADM 2000-01-01     a 2004-06-10 2004-06-09  10516.0
2    ADM 2000-01-01     a 2004-06-10 2004-06-09  10516.0
3    ADM 2000-01-01     a 2004-06-10 2004-06-09  10516.0
4    ADM 2000-01-01     a 2004-06-10 2004-06-09  10516.0
(Pdb) merged.loc[0,'start']
Timestamp('2004-06-10 00:00:00')
(Pdb) merged.tail()
   TICKER       Date byvar      start        end   PERMNO
71    AAN 2011-01-04     a 2004-06-10 2004-06-09  10517.0
72    AAN 2011-01-04     a 2004-06-10 2004-06-09  10517.0
73    AAN 2011-01-04     a 2004-06-10 2004-06-09  10517.0
74    AAN 2011-01-04     a 2012-12-19 2006-11-20  78049.0
75    AAN 2011-01-04     a 1991-12-31 1964-11-20  84766.0
(Pdb) q

BdbQuit:

In [1]:
import pandas as pd
import dero
from numpy import nan

In [4]:
dero.pandas.to_copy_paste(pd.DataFrame(dero.pandas.convert_sas_date_to_pandas_date(df_sasdate_nan['datadate'])))

pd.DataFrame(data = [
(numpy.datetime64('2004-02-13T00:00:00.000000000'),),
(numpy.datetime64('2005-02-15T00:00:00.000000000'),),
(numpy.datetime64('2007-01-12T00:00:00.000000000'),),
(numpy.datetime64('2007-01-31T00:00:00.000000000'),),
(numpy.datetime64('NaT'),),
(numpy.datetime64('2007-02-15T00:00:00.000000000'),),
], columns = [0])

In [ ]:
import pdb
pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\common.py(1914)_astype_nansafe()
-> raise ValueError('Cannot convert NA to integer')
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\internals.py(477)_astype()
-> values = com._astype_nansafe(values.ravel(), dtype, copy=True)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\internals.py(434)astype()
-> values=values, **kwargs)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\internals.py(2890)apply()
-> applied = getattr(b, f)(**kwargs)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\internals.py(2938)astype()
-> return self.apply('astype', dtype=dtype, **kwargs)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(2950)astype()
-> raise_on_error=raise_on_error, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(48)convert_sas_date_to_pandas_date()
-> #         unique = pd.Series(sasdates.dropna().unique()).astype(int)
(Pdb) sasdates
0    16114.0
1    16482.0
2    17178.0
3    17197.0
4        NaN
5    17212.0
Name: datadate, dtype: float64
(Pdb) sasdates.dropna()
0    16114.0
1    16482.0
2    17178.0
3    17197.0
5    17212.0
Name: datadate, dtype: float64
(Pdb) pd.Series(sasdates.dropna().unique())
0    16114.0
1    16482.0
2    17178.0
3    17197.0
4    17212.0
dtype: float64
(Pdb) pd.Series(sasdates.dropna().unique()).astype(int)
0    16114
1    16482
2    17178
3    17197
4    17212
dtype: int32

In [17]:
test

       gvkey  datadate
test
983   011508   16114.0
648   011509   16114.0
473   011508   16482.0
210   011508   17178.0
258   011509   17178.0
329   011508   17197.0
469   011508   17212.0

In [25]:
import datetime

def convert_sas_date_to_pandas_date(sasdates):
    epoch = datetime.datetime(1960, 1, 1)
    
    if isinstance(sasdates, pd.Series):
        #Below code is to reduce down to unique dates and create a mapping
        unique = pd.Series(sasdates.dropna().unique()).astype(int)
        shift = unique.apply(datetime.timedelta)
        pd_dates = epoch + shift
        
        for_merge = pd.concat([unique, pd_dates], axis=1)
        for_merge.columns = [sasdates.name, 0]
        
        orig_df = pd.DataFrame(sasdates.astype(int))
        orig_df.reset_index(inplace=True)
        
        return for_merge.merge(orig_df, how='right', on=[sasdates.name]).sort_values('index').reset_index()[0]
    
    
#         return pd.Series([epoch + datetime.timedelta(days=int(float(date))) if not pd.isnull(date) else nan for date in sasdates])
    else:
        return epoch + datetime.timedelta(days=sasdates)
    
def old_convert_sas_date_to_pandas_date(sasdates):
    epoch = datetime.datetime(1960, 1, 1)
    
    if isinstance(sasdates, pd.Series):
    
        return pd.Series([epoch + datetime.timedelta(days=int(float(date))) if not pd.isnull(date) else nan for date in sasdates])
    else:
        return epoch + datetime.timedelta(days=sasdates)

In [8]:
import dero

new = convert_sas_date_to_pandas_date(df_sasdate['datadate'])
old = old_convert_sas_date_to_pandas_date(df_sasdate['datadate'])
new.name = None
new

0   2004-02-13
1   2004-02-13
2   2005-02-15
3   2007-01-12
4   2007-01-12
5   2007-01-31
6   2007-02-15
dtype: datetime64[ns]

In [12]:
new == old

0    True
1    True
2    True
3    True
4    True
5    True
6    True
dtype: bool

In [23]:
old

0   2004-02-13
1   2004-02-13
2   2005-02-15
3   2007-01-12
4   2007-01-12
5   2007-01-31
6   2007-02-15
dtype: datetime64[ns]

Timestamp('2004-02-13 00:00:00')

In [32]:
import datetime

df = pd.DataFrame([(1),(3),(5)], columns=['shift'])
# datetime.datetime(1960, 1, 1) + df
shift = df.applymap(datetime.timedelta)
shift['shift'] + datetime.datetime(1960, 1, 1)

0   1960-01-02
1   1960-01-04
2   1960-01-06
Name: shift, dtype: datetime64[ns]

In [34]:
pd.DataFrame(pd.Series([1,3,5]))

   0
0  1
1  3
2  5

In [8]:
dero.pandas.groupby_merge(df, ['PERMNO','byvar'], 'count', subset='RET')

    PERMNO byvar      Date   RET  RET_count
0    10516     a  1/1/2000  1.01          4
1    10516     a  1/2/2000  1.02          4
2    10516     a  1/3/2000  1.03          4
3    10516     a  1/4/2000  1.04          4
4    10516     b  1/1/2000  1.05          4
5    10516     b  1/2/2000  1.06          4
6    10516     b  1/3/2000  1.07          4
7    10516     b  1/4/2000  1.08          4
8    10517     a  1/1/2000  1.09          4
9    10517     a  1/2/2000  1.10          4
10   10517     a  1/3/2000  1.11          4
11   10517     a  1/4/2000  1.12          4

In [18]:
byvars = ['PERMNO','byvar']
df.groupby(byvars)[['RET']].std().reset_index()

   PERMNO byvar      RET
0   10516     a  0.01291
1   10516     b  0.01291
2   10517     a  0.01291

In [11]:
df[df['PERMNO'] == 10517].groupby(byvars)[byvars + ['RET']].std()

              PERMNO      RET
PERMNO byvar
10517  a         0.0  0.01291

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
PERMNO    12 non-null int64
byvar     12 non-null object
Date      12 non-null object
RET       12 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 464.0+ bytes

In [6]:
from numpy import nan
df.loc[0, 'RET'] = nan
# df.loc[0, 'RET'] = 1.01
df

    PERMNO byvar      Date   RET
0    10516     a  1/1/2000   NaN
1    10516     a  1/2/2000  1.02
2    10516     a  1/3/2000  1.03
3    10516     a  1/4/2000  1.04
4    10516     b  1/1/2000  1.05
5    10516     b  1/2/2000  1.06
6    10516     b  1/3/2000  1.07
7    10516     b  1/4/2000  1.08
8    10517     a  1/1/2000  1.09
9    10517     a  1/2/2000  1.10
10   10517     a  1/3/2000  1.11
11   10517     a  1/4/2000  1.12

In [7]:
a = dero.pandas.portfolio(df, 'RET', ngroups=2, byvars=['PERMNO','byvar'])
# dero.pandas.to_copy_paste(a)
a

C:\Users\derobertisna.UFAD\Dropbox\Python\Dero\dero\ext_pandas.py:530: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rows = df[(outdf[groupvar] >= low_cut) & (df[groupvar] <= high_cut)].index

    PERMNO byvar      Date   RET  portfolio
0    10516     a  1/1/2000   NaN          0
1    10516     a  1/2/2000  1.02          1
2    10516     a  1/3/2000  1.03          2
3    10516     a  1/4/2000  1.04          2
4    10516     b  1/1/2000  1.05          1
5    10516     b  1/2/2000  1.06          1
6    10516     b  1/3/2000  1.07          2
7    10516     b  1/4/2000  1.08          2
8    10517     a  1/1/2000  1.09          1
9    10517     a  1/2/2000  1.10          1
10   10517     a  1/3/2000  1.11          2
11   10517     a  1/4/2000  1.12          2

In [5]:
dero.pandas.portfolio??

In [1]:
from sas7bdat import SAS7BDAT

In [5]:
dero.pandas.load_sas??

In [8]:
filepath = r'C:\Users\derobertisna.UFAD\Google Drive\CNC Partners\Corbin + Nick\Short-Selling Real Impacts\Data\short_int_insider.sas7bdat'
df = SAS7BDAT(filepath).to_data_frame()
dero.pandas.to_copy_paste(df[['gvkey','datadate']])

pd.DataFrame(data = [
('011508', 16114.0),
('011508', 16482.0),
('011508', 17178.0),
('011508', 17197.0),
('011508', 17212.0),
], columns = ['gvkey', 'datadate'])

In [7]:
len(df)

5

In [1]:
import dero

In [7]:
dero.data.get_ff_factors??

In [5]:
out = dero.data.get_ff_factors(df, subset=['mktrf','smb','hml','umd'], fulldatevar='Date', freq='d')
dero.pandas.factor_reg_by(out, ['PERMNO','byvar'])

,PERMNO,byvar,Date,RET,mktrf,smb,hml,umd,rf,const,coef_mktrf,coef_smb,coef_hml,coef_umd,ABRET
0,10516,a,2000-01-01,1.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10516,a,2000-01-02,1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10516,a,2000-01-03,1.03,-0.0071,0.0044,-0.0091,-0.0011,0.00021,NaN,NaN,NaN,NaN,NaN,NaN
3,10516,a,2000-01-04,1.04,-0.0406,-0.0001,0.0242,-0.0187,0.00021,NaN,NaN,NaN,NaN,NaN,NaN
4,10516,b,2000-01-01,1.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10516,b,2000-01-02,1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10516,b,2000-01-03,1.07,-0.0071,0.0044,-0.0091,-0.0011,0.00021,NaN,NaN,NaN,NaN,NaN,NaN
7,10516,b,2000-01-04,1.08,-0.0406,-0.0001,0.0242,-0.0187,0.00021,NaN,NaN,NaN,NaN,NaN,NaN
8,10517,a,2000-01-01,1.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10517,a,2000-01-02,1.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10517,a,2000-01-03,1.11,-0.0071,0.0044,-0.0091,-0.0011,0.00021,NaN,NaN,NaN,NaN,NaN,NaN
11,10517,a,2000-01-04,1.12,-0.0406,-0.0001,0.0242,-0.0187,0.00021,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import itertools
list(itertools.product(['Equally','Value'],['Raw','Stable']))

[('Equally', 'Raw'),
 ('Equally', 'Stable'),
 ('Value', 'Raw'),
 ('Value', 'Stable')]

In [7]:
a = {'abc':1, 'def':2}
b = {}
for key in a:
    new_key = key + 'f'
    val = a[key]
    b[new_key] = val
b

{'abcf': 1, 'deff': 2}

In [9]:
import datetime
# df['Date'] = pd.to_datetime(df['Date']) + datetime.timedelta(days=1)
a = dero.data.get_abret(df, ['PERMNO','byvar'], freq='d', abret_fac=1, includecoef=True, includefac=True)
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-02 00:00:00'), 1.01, nan, nan, 1.031101001907351, 0.06796308070068235, nan),
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.02, -0.0071, 0.00021, 1.031101001907351, 0.06796308070068235, 1.020482537872975),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.03, -0.0406, 0.00021, 1.031101001907351, 0.06796308070068235, 1.0327593010764478),
(10516, 'a', Timestamp('2000-01-05 00:00:00'), 1.04, -0.0009, 0.00021, 1.031101001907351, 0.06796308070068235, 1.0400611667726307),
(10516, 'b', Timestamp('2000-01-02 00:00:00'), 1.05, nan, nan, 1.071101001907351, 0.06796308070068591, nan),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.06, -0.0071, 0.00021, 1.071101001907351, 0.06796308070068591, 1.060482537872975),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.07, -0.0406, 0.00021, 1.071101001907351, 0.06796308070068591, 1.072759301076448),
(10516, 'b', Timestamp('2000-01-05 00:00:00'), 1.08, -0.0009, 0.00021, 1.071101001907351, 0.06796308070068591, 1.0800611667726308),
(10517, 'a', Timestamp('2000-01-02 00:00:00'), 1.09, nan, nan, 1.111101001907351, 0.06796308070068235, nan),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.1, -0.0071, 0.00021, 1.111101001907351, 0.06796308070068235, 1.100482537872975),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.11, -0.0406, 0.00021, 1.111101001907351, 0.06796308070068235, 1.1127593010764478),
(10517, 'a', Timestamp('2000-01-05 00:00:00'), 1.12, -0.0009, 0.00021, 1.111101001907351, 0.06796308070068235, 1.1200611667726308),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'mktrf', 'rf', 'const', 'coef_mktrf', 'ABRET'])

In [13]:
dero.data.get_abret?

In [10]:
a

,PERMNO,byvar,Date,RET,mktrf,rf,const,coef_mktrf,ABRET
0,10516,a,2000-01-02,1.01,NaN,NaN,1.031101,0.067963,NaN
1,10516,a,2000-01-03,1.02,-0.0071,0.00021,1.031101,0.067963,1.020483
2,10516,a,2000-01-04,1.03,-0.0406,0.00021,1.031101,0.067963,1.032759
3,10516,a,2000-01-05,1.04,-0.0009,0.00021,1.031101,0.067963,1.040061
4,10516,b,2000-01-02,1.05,NaN,NaN,1.071101,0.067963,NaN
5,10516,b,2000-01-03,1.06,-0.0071,0.00021,1.071101,0.067963,1.060483
6,10516,b,2000-01-04,1.07,-0.0406,0.00021,1.071101,0.067963,1.072759
7,10516,b,2000-01-05,1.08,-0.0009,0.00021,1.071101,0.067963,1.080061
8,10517,a,2000-01-02,1.09,NaN,NaN,1.111101,0.067963,NaN
9,10517,a,2000-01-03,1.10,-0.0071,0.00021,1.111101,0.067963,1.100483
10,10517,a,2000-01-04,1.11,-0.0406,0.00021,1.111101,0.067963,1.112759
11,10517,a,2000-01-05,1.12,-0.0009,0.00021,1.111101,0.067963,1.120061

In [4]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(3051)drop()
-> labels[mask])
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(1877)drop()
-> new_axis = axis.drop(labels, errors=errors)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(628)get_abret()
-> out.drop(['const'] + [fac + '_coef' for fac in factors], axis=1, inplace=True)
(Pdb) out
    PERMNO byvar       Date   RET      rf  const  coef_mktrf  coef_smb  \
0    10516     a 2000-01-01  1.01  0.0041    NaN         NaN       NaN
1    10516     a 2000-01-02  1.02  0.0041    NaN         NaN       NaN
2    10516     a 2000-01-03  1.03  0.0041    NaN         NaN       NaN
3    10516     a 2000-01-04  1.04  0.0041    NaN         NaN       NaN
4    10516     b 2000-01-01  1.05  0.0041    NaN         NaN       NaN
5    10516     b 2000-01-02  1.06  0.0041    NaN         NaN       NaN
6    10516     b 2000-01-03  1.07  0.0041    NaN         NaN       NaN
7    10516     b 2000-01-04  1.08  0.0041    NaN         NaN       NaN
8    10517     a 2000-01-01  1.09  0.0041    NaN         NaN       NaN
9    10517     a 2000-01-02  1.10  0.0041    NaN         NaN       NaN
10   10517     a 2000-01-03  1.11  0.0041    NaN         NaN       NaN
11   10517     a 2000-01-04  1.12  0.0041    NaN         NaN       NaN

    coef_hml  coef_umd  ABRET
0        NaN       NaN    NaN
1        NaN       NaN    NaN
2        NaN       NaN    NaN
3        NaN       NaN    NaN
4        NaN       NaN    NaN
5        NaN       NaN    NaN
6        NaN       NaN    NaN
7        NaN       NaN    NaN
8        NaN       NaN    NaN
9        NaN       NaN    NaN
10       NaN       NaN    NaN
11       NaN       NaN    NaN
(Pdb) quit

In [3]:
indf = df_weight.copy()
indf['key'] = indf['PERMNO'].astype(str) + '_' + indf['byvar']

In [9]:
indf.loc[:8,:]

   PERMNO byvar      Date   RET  weight      key
0   10516     a  1/1/2000  1.01       0  10516_a
1   10516     a  1/2/2000  1.02       1  10516_a
2   10516     a  1/3/2000  1.03       1  10516_a
3   10516     a  1/4/2000  1.04       0  10516_a
4   10516     b  1/1/2000  1.05       1  10516_b
5   10516     b  1/2/2000  1.06       1  10516_b
6   10516     b  1/3/2000  1.07       1  10516_b
7   10516     b  1/4/2000  1.08       1  10516_b
8   10517     a  1/1/2000  1.09       0  10517_a

In [21]:
indf[['PERMNO','byvar']].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [10]:
rb = dero.pandas.reg_by(indf.loc[:8,:], 'weight', 'RET', 'key', cons=True)
# dero.pandas.to_copy_paste(rb)
rb

   const      coef_RET      key
0    0.5  5.329071e-15  10516_a
1    1.0  1.065814e-14  10516_b
2    NaN           NaN  10517_a

In [20]:
dero.pandas.to_copy_paste(rb)

pd.DataFrame(data = [
(0.49999999999999645, 5.329070518200751e-15, '10516_a'),
(0.9999999999999893, 1.0658141036401503e-14, '10516_b'),
(nan, nan, '10517_a'),
], columns = ['const', 'coef_RET', 'key'])

In [2]:
import testing_rename

In [3]:
testing_rename.time2.sleep(3)

In [5]:
import time

In [1]:
import time2

ImportError: No module named 'time2'

In [1]:
%%writefile testing_rename.py

import sys, time

sys.modules['time2'] = time

import time2

del time
del sys.modules['time2']

Overwriting testing_rename.py

In [4]:
time2

NameError: name 'time2' is not defined

In [2]:
dir(dero)

['__builtins__',
 '__cached__',
 '__dero_version__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'core',
 'data',
 'decorators',
 'dero',
 'ext_logging',
 'ext_matplotlib',
 'ext_multiprocessing',
 'ext_pandas',
 'ext_selenium',
 'ext_sympy',
 'ext_time',
 'latex',
 'pdf',
 'sys']

In [11]:
df_nan_byvar_and_val

  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0

In [13]:
float('sdf')

ValueError: could not convert string to float: 'sdf'

In [14]:
def is_numeric(x):
    try:
        float(x)
        return True
    except ValueError:
        return False

In [16]:
def testfunc(x):
    return x + 1

@dero.decorators.simple_decorator
def func_or_nan(func):

In [21]:
g = df_nan_byvar_and_val.groupby('byvar')
g.transform??

In [61]:
subset = ['val','byvar']
any_nan_subset_mask = pd.Series([all(i) for i in (zip(*[~pd.isnull(df_nan_byvar_and_val[col]) for col in subset]))])
df_nanvals_removed = df_nan_byvar_and_val[any_nan_subset_mask]
df_removed = df_nan_byvar_and_val[~any_nan_subset_mask]

In [65]:
df_nanvals_removed.reindex(df_nan_byvar_and_val.index)

  byvar  val
0     a  1.0
1   NaN  NaN
2   NaN  NaN
3     b  4.0

In [63]:
df_removed

  byvar  val
1   NaN  2.0
2     b  NaN

In [60]:
pd.Series([all(i) for i in (zip(*[~pd.isnull(df_nan_byvar_and_val[col]) for col in ['val','byvar']]))])

0     True
1    False
2    False
3     True
dtype: bool

In [29]:
df_nanvals_removed

  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0

In [22]:
testfunc(nan)

nan

In [ ]:
df_nan_byvar_and_val.groupby('byvar').transform

In [26]:
df_nanvals_removed

  byvar  val
0     a  1.0
1   NaN  2.0
3     b  4.0

In [27]:
df_nanvals_removed.fillna('__tempnan__').groupby('byvar').transform(lambda x: x)

   val
0  1.0
1  2.0
3  4.0

In [12]:
df_nan_byvar_and_val[['byvar','val']] = df_nan_byvar_and_val[['byvar','val']].fillna('__tempnan__')
df_nan_byvar_and_val

         byvar          val
0            a            1
1  __tempnan__            2
2            b  __tempnan__
3            b            4

In [3]:
dero.pandas.groupby_merge(df_nan_byvar_and_val_nonstandard_index, 'byvar', 'transform', (lambda x: x))

  byvar  val  val_transform
5     a  1.0            1.0
6   NaN  2.0            2.0
7     b  NaN            NaN
8     b  4.0            4.0

In [4]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\internals.py(2635)set_axis()
-> (old_len, new_len))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(428)_set_axis()
-> self._data.set_axis(axis, labels)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\pandas\src\properties.pyx(65)pandas.lib.AxisProperty.__set__ (pandas\lib.c:45018)()
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(2685)__setattr__()
-> return object.__setattr__(self, name, value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\generic.py(425)set_axis()
-> setattr(self, self._get_axis_name(axis), labels)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(483)_set_result_index_ordered()
-> result.set_axis(self.axis, self.obj._get_axis(self.axis))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3423)_transform_general()
-> return self._set_result_index_ordered(concatenated)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\groupby.py(3457)transform()
-> return self._transform_general(func, *args, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(774)groupby_merge()
-> grouped = func(*func_args)[subset] #apply the class method and select subset columns
(Pdb) u
> <ipython-input-3-f1619c317988>(1)<module>()
-> dero.pandas.groupby_merge(df_nan_byvar_and_val, 'byvar', 'transform', (lambda x: x))
(Pdb) d
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\ext_pandas.py(774)groupby_merge()
-> grouped = func(*func_args)[subset] #apply the class method and select subset columns
(Pdb) grouped.count()
       val
byvar
a        1
b        1
(Pdb) no_nans
  byvar  val
0     a  1.0
1   NaN  2.0
3     b  4.0
(Pdb) df
  byvar  val
0     a  1.0
1   NaN  2.0
2     b  NaN
3     b  4.0
(Pdb) q

In [96]:
import imp; imp.reload(dero)

In [10]:
[i for i in range(1,3)]

[1, 2]

In [8]:
del aadfs

NameError: name 'aadfs' is not defined

In [68]:
dero.pandas.groupby_merge?

In [63]:
df.dtypes == np.int64

PERMNO     True
byvar     False
Date      False
RET       False
dtype: bool

In [49]:
np.number?

In [6]:
f.close()

In [10]:
%load_ext memory_profiler

In [3]:
# %%mprun -f crsp.pull_crsp
crsp = dero.data.GetCRSP(debug=True)
df['Date'] = pd.to_datetime(df['Date'])
a = crsp.pull_crsp(df, freq='d', get=['RET'],
                                        other_byvars='byvar', abret=1, window=30,
                                        includefac=True, includecoef=True)
# a = crsp.pull_crsp(df, get='RET', time=[0, 3], cumret='between', other_byvars='byvar', drop_first=True)
dero.pandas.to_copy_paste(a)
# a

2016-06-03 19:14:54: Initializing pull_crsp function
2016-06-03 19:14:54: Checking inputs.
2016-06-03 19:14:54: Loading CRSP dataframe...
2016-06-03 19:14:54: Loaded.
2016-06-03 19:14:54: Converting SAS date to Pandas format.
2016-06-03 19:14:54: Converted.
2016-06-03 19:14:54: Generating key.
2016-06-03 19:14:54: Abret detected.
2016-06-03 19:14:54: Creating abret window periods.
2016-06-03 19:14:54: Initializing expand_time for periods [0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10, -11, -12, -13, -14, -15, -16, -17, -18, -19, -20, -21, -22, -23, -24, -25, -26, -27, -28, -29, -30].
2016-06-03 19:14:54: Daily frequency, getting trading day calendar.
2016-06-03 19:14:54: Calculating number of rows.
2016-06-03 19:14:54: Calculating number of duplicates.
2016-06-03 19:14:54: Duplicating observations 30 times.
2016-06-03 19:14:54: Duplicated.
2016-06-03 19:14:54: Creating shift variable.
2016-06-03 19:14:54: Creating shifted date.
2016-06-03 19:14:54: expand_time completed.
2016-06-03 19:14:54: Merging with CRSP to get abret window data as well as regular data.
2016-06-03 19:14:54: Merging CRSP to dataframe.
2016-06-03 19:14:54: Completed merge.
2016-06-03 19:14:54: Getting Fama-French factors, then running regressions.
2016-06-03 19:14:54: Dropping unneeded observations (abret window dates).
2016-06-03 19:14:54: Reshaping long to wide.
pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, -0.010309278033673763, -0.011225175770145413, -0.0071, 0.00021, -0.1289996811931902, -0.004742858764353774),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, -0.010416666977107523, -0.007502490855258082, -0.0406, 0.00021, 0.07177773699136555, -0.004474063724469225),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, -0.010309278033673763, -0.011225175770145413, -0.0071, 0.00021, -0.1289996811931902, -0.004742858764353774),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, -0.010416666977107523, -0.007502490855258082, -0.0406, 0.00021, 0.07177773699136555, -0.004474063724469225),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, -0.034246575087308884, -0.025145672948656786, -0.0071, 0.00021, 1.2818172026270562, 0.00024156806287732818),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, -0.0035460991784930225, 0.021587078051334464, -0.0406, 0.00021, 0.619043774133682, 0.0011960335526057253),
], columns = ['PERMNO', 'byvar', 'Date', 'RET_old', 'RET', 'ABRET', 'mktrf', 'rf', 'coef_mktrf', 'const'])

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
crsp = dero.data.GetCRSP(debug=True)
# crsp.pull_crsp(df, get='RET', abret=4, window=36, freq='m', other_byvars='byvar')
crsp.pull_crsp(df)
crsp.pull_crsp(df, freq='d')

2016-05-30 17:47:54: Initializing pull_crsp function
2016-05-30 17:47:54: Checking inputs.
2016-05-30 17:47:54: Loading CRSP dataframe...
2016-05-30 17:47:54: Loaded.
2016-05-30 17:47:54: Converting SAS date to Pandas format.
2016-05-30 17:47:54: Converted.
2016-05-30 17:47:54: Merging CRSP to dataframe.
2016-05-30 17:47:54: Completed merge.
2016-05-30 17:47:54: Initializing pull_crsp function
2016-05-30 17:47:54: Checking inputs.
2016-05-30 17:47:54: Loading CRSP dataframe...
2016-05-30 17:47:54: Loaded.
2016-05-30 17:47:54: Converting SAS date to Pandas format.
2016-05-30 17:47:54: Converted.
2016-05-30 17:47:54: Merging CRSP to dataframe.
2016-05-30 17:47:54: Completed merge.

    PERMNO byvar       Date   RET      PRC    SHROUT
0    10516     a 2000-01-01  1.01      NaN       NaN
1    10516     a 2000-01-02  1.02      NaN       NaN
2    10516     a 2000-01-03  1.03  12.0000  608360.0
3    10516     a 2000-01-04  1.04  11.8750  608360.0
4    10516     b 2000-01-01  1.05      NaN       NaN
5    10516     b 2000-01-02  1.06      NaN       NaN
6    10516     b 2000-01-03  1.07  12.0000  608360.0
7    10516     b 2000-01-04  1.08  11.8750  608360.0
8    10517     a 2000-01-01  1.09      NaN       NaN
9    10517     a 2000-01-02  1.10      NaN       NaN
10   10517     a 2000-01-03  1.11  17.6250    3830.0
11   10517     a 2000-01-04  1.12  17.5625    3830.0

In [13]:
dero.data.get_gvkey_or_permno?

In [14]:
dero.data.get_gvkey_or_permno(permno_df_with_nan, 'Date', other_byvars='byvar')

   byvar       Date   PERMNO   GVKEY
0      a 2000-01-01  10516.0  1722.0
1      a 2000-01-02  10516.0  1722.0
2      a 2000-01-03  10516.0  1722.0
3      a 2000-01-04  10516.0  1722.0
4      b 2000-01-01  10516.0  1722.0
5      b 2000-01-02  10516.0  1722.0
6      b 2000-01-03  10516.0  1722.0
7      b 2000-01-04  10516.0  1722.0
8      a 2008-01-01      NaN     NaN
9      a 2009-01-02      NaN     NaN
10     a 2010-01-03  78049.0  1076.0
11     a 2011-01-04  10517.0  1076.0

In [3]:
df_weight

    PERMNO byvar      Date   RET  weight
0    10516     a  1/1/2000  1.01       0
1    10516     a  1/2/2000  1.02       1
2    10516     a  1/3/2000  1.03       1
3    10516     a  1/4/2000  1.04       0
4    10516     b  1/1/2000  1.05       1
5    10516     b  1/2/2000  1.06       1
6    10516     b  1/3/2000  1.07       1
7    10516     b  1/4/2000  1.08       1
8    10517     a  1/1/2000  1.09       0
9    10517     a  1/2/2000  1.10       0
10   10517     a  1/3/2000  1.11       0
11   10517     a  1/4/2000  1.12       1

In [4]:
df_weight['key'] = df_weight['PERMNO'].astype(str) + '_' + df_weight['byvar']
a = dero.pandas.reg_by(df_weight, 'weight', 'RET', 'key')
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(0.48774684748988806, '10516_a'),
(0.9388636664168903, '10516_b'),
(0.22929206076239614, '10517_a'),
], columns = ['coef_RET', 'key'])

In [7]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\ops.py(592)na_op()
-> result[mask] = op(x[mask], y)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\ops.py(651)wrapper()
-> return left._constructor(wrap_results(na_op(lvalues, rvalues)),
(Pdb) u
> <ipython-input-6-9a0f81226f55>(1)<module>()
-> df_weight['key'] = df_weight['PERMNO'] + '_' + df_weight['byvar']
(Pdb) u
> c:\anaconda3\lib\site-packages\ipython\core\interactiveshell.py(2885)run_code()
-> exec(code_obj, self.user_global_ns, self.user_ns)
(Pdb) d
> <ipython-input-6-9a0f81226f55>(1)<module>()
-> df_weight['key'] = df_weight['PERMNO'] + '_' + df_weight['byvar']
(Pdb) q

In [4]:
import os
import dero
import pandas as pd
import dill

os.chdir(r'C:\Users\derobertisna.UFAD\Dropbox\Python\Testing\package')

df = dill.load(open('reg_by_fail_full_df.p','rb'))
group = '24643.0_1356998400000000000_1514764800000000000'
yvar, xvars, groupvar, merge = dill.load(open('regby_args.p','rb'))

In [12]:
group = df[groupvar].unique()[0]
group

'24643.0_1072915200000000000_1041379200000000000'

In [19]:
import statsmodels.api as sm

tempdf = df[df[groupvar] == group][[yvar] + xvars].dropna()
X = tempdf[xvars]
X = sm.add_constant(X)
y = tempdf[yvar]
model = sm.OLS(y[1:], X.iloc[1:,:])
result = model.fit()

In [16]:
from numpy import nan
pd.DataFrame([tuple([nan for x in xvars])], columns=xvars)

   mktrf  smb  hml  umd
0    NaN  NaN  NaN  NaN

In [21]:
result.params

const    0.000802
mktrf    1.754580
smb      0.359230
hml      0.930096
umd     -0.181730
dtype: float64

In [20]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    RET   R-squared:                       0.608
Model:                            OLS   Adj. R-squared:                  0.558
Method:                 Least Squares   F-statistic:                     12.03
Date:                Fri, 03 Jun 2016   Prob (F-statistic):           5.13e-06
Time:                        17:07:07   Log-Likelihood:                 44.499
No. Observations:                  36   AIC:                            -79.00
Df Residuals:                      31   BIC:                            -71.08
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
const          0.0008      0.014      0.057      0.955        -0.028     0.030
mktrf          1.7546      0.305      5.748      0.000         1.132     2.377
smb            0.3592      0.283      1.270      0.213        -0.218     0.936
hml            0.9301      0.350      2.656      0.012         0.216     1.644
umd           -0.1817      0.169     -1.076      0.290        -0.526     0.163
==============================================================================
Omnibus:                        2.980   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.225   Jarque-Bera (JB):                1.994
Skew:                          -0.562   Prob(JB):                        0.369
Kurtosis:                       3.260   Cond. No.                         34.6
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    RET   R-squared:                       0.610
Model:                            OLS   Adj. R-squared:                  0.562
Method:                 Least Squares   F-statistic:                     12.54
Date:                Fri, 03 Jun 2016   Prob (F-statistic):           3.02e-06
Time:                        17:04:51   Log-Likelihood:                 44.498
No. Observations:                  36   AIC:                            -81.00
Df Residuals:                      32   BIC:                            -74.66
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
mktrf          1.7540      0.300      5.841      0.000         1.142     2.366
smb            0.3646      0.262      1.392      0.174        -0.169     0.898
hml            0.9372      0.322      2.909      0.007         0.281     1.593
umd           -0.1821      0.166     -1.096      0.281        -0.521     0.156
==============================================================================
Omnibus:                        3.020   Durbin-Watson:                   1.952
Prob(Omnibus):                  0.221   Jarque-Bera (JB):                2.025
Skew:                          -0.566   Prob(JB):                        0.363
Kurtosis:                       3.265   Cond. No.                         3.15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [5]:
y[1:]

197137   -0.086755
197138    0.033413
197139    0.041641
197140   -0.031306
197141    0.015253
197142    0.100739
197143    0.094049
197144    0.012621
197145    0.046620
197146    0.096252
197147    0.022589
197148    0.082785
197149    0.106139
197150    0.039914
197151    0.141626
197152    0.054545
197153   -0.027673
197154    0.016624
197155   -0.080000
197156    0.003529
197157   -0.002347
197158    0.000000
197159   -0.032805
197160    0.018433
197161    0.032105
197162   -0.018670
197163   -0.028797
197164    0.034463
197165    0.014168
197166   -0.032000
197167    0.023392
197168   -0.118191
197169   -0.028942
197170   -0.014749
197171    0.003937
197172    0.174567
Name: RET, dtype: float64

In [6]:
X.iloc[1:,:]

         mktrf     smb     hml     umd
197137 -0.0006  0.0257  0.0153  0.0105
197138  0.0254 -0.0214 -0.0342  0.0113
197139  0.0252  0.0417 -0.0189  0.0010
197140 -0.0197 -0.0380 -0.0161  0.0058
197141  0.0423  0.0049 -0.0075  0.0074
197142 -0.0204 -0.0428  0.0001 -0.0027
197143  0.0261  0.0299 -0.0066  0.0061
197144  0.0206 -0.0187 -0.0038  0.0099
197145 -0.0019 -0.0419  0.0157 -0.0390
197146  0.0043 -0.0183  0.0467 -0.0324
197147  0.0465  0.0032 -0.0048  0.0207
197148 -0.0332  0.0084 -0.0186  0.0172
197149  0.0281 -0.0043 -0.0015  0.0011
197150  0.0312  0.0134 -0.0033  0.0048
197151  0.0418 -0.0157  0.0130  0.0020
197152  0.0377  0.0285 -0.0159  0.0299
197153 -0.0271  0.0029 -0.0246  0.0007
197154  0.0565  0.0187  0.0074  0.0172
197155 -0.0120  0.0123 -0.0044  0.0066
197156  0.0280  0.0195  0.0132 -0.0188
197157  0.0156 -0.0240  0.0041  0.0035
197158  0.0403  0.0083 -0.0006  0.0209
197159  0.0129 -0.0039  0.0029  0.0147
197160  0.0557  0.0047  0.0131 -0.0191
197161  0.0118  0.0162  0.0325 -0.0296
197162  0.0078  0.0067 -0.0110  0.0033
197163 -0.0176 -0.0107  0.0414  0.0010
197164  0.0273  0.0049  0.0157 -0.0102
197165  0.0255  0.0071  0.0055 -0.0246
197166  0.0079 -0.0260  0.0002  0.0306
197167  0.0389  0.0082  0.0048 -0.0116
197168 -0.0619 -0.0012  0.0011  0.0664
197169 -0.0085 -0.0062 -0.0017  0.0381
197170  0.0311 -0.0024 -0.0006  0.0145
197171  0.0442 -0.0164  0.0004 -0.0039
197172  0.0505  0.0253 -0.0216 -0.0794

In [14]:
%load_ext memory_profiler

The memory_profiler extension is already loaded. To reload it, use:
  %reload_ext memory_profiler

In [17]:
%%mprun -f dero.pandas.cumulate
cumvars = ['RET']
byvars = ['TICKER', 'Date']
time=[-12, -1, 12, 24, 36, 48, 60]
dero.pandas.cumulate(long_df, cumvars, periodvar='Shift Date', method='between',
                       byvars=byvars, time=time, grossify=True)

2016-05-31 14:16:39: Initializing cumulate.
*** KeyboardInterrupt exception caught in code being profiled.

In [44]:
firms = ltw['TICKER'].unique().tolist()
ten_firms = firms[:10]
ltw_test = ltw[ltw['TICKER'].isin(ten_firms)].copy()

In [3]:
len(ltw_test)

5412

In [6]:
ltw_test.duplicated().any()

False

In [11]:
ltw_test2 = ltw_test.drop(['cum_RET', '__key__'], axis=1)

In [36]:
ltw_test2.tail(20)

            volume TICKER       Date   PERMNO  Shift       RET
65614  2375.238095   AATI 2011-10-01  90854.0     48       NaN
65626  2375.238095   AATI 2011-10-01  90854.0     60       NaN
65638  2520.238095   AATI 2011-11-01  90854.0     -1  0.006928
65651  2520.238095   AATI 2011-11-01  90854.0     12       NaN
65663  2520.238095   AATI 2011-11-01  90854.0     24       NaN
65675  2520.238095   AATI 2011-11-01  90854.0     36       NaN
65687  2520.238095   AATI 2011-11-01  90854.0     48       NaN
65699  2520.238095   AATI 2011-11-01  90854.0     60       NaN
65711  2744.642857   AATI 2011-12-01  90854.0     -1  0.317660
65724  2744.642857   AATI 2011-12-01  90854.0     12       NaN
65736  2744.642857   AATI 2011-12-01  90854.0     24       NaN
65748  2744.642857   AATI 2011-12-01  90854.0     36       NaN
65760  2744.642857   AATI 2011-12-01  90854.0     48       NaN
65772  2744.642857   AATI 2011-12-01  90854.0     60       NaN
65784  2844.761905   AATI 2012-01-01  90854.0     -1  0.006092
65797  2844.761905   AATI 2012-01-01  90854.0     12       NaN
65809  2844.761905   AATI 2012-01-01  90854.0     24       NaN
65821  2844.761905   AATI 2012-01-01  90854.0     36       NaN
65833  2844.761905   AATI 2012-01-01  90854.0     48       NaN
65845  2844.761905   AATI 2012-01-01  90854.0     60       NaN

In [46]:
# ltw_test3 = ltw_test2.iloc[-12:,:].copy()
ltw_test3 = ltw_test2.loc[ltw_test2['TICKER'] == 'AAN', :].copy()
print(len(ltw_test3))
ltw_test3.head() # this one works`

528

             volume TICKER       Date   PERMNO  Shift       RET
24904  26790.874525    AAN 2009-05-01  10517.0     -1  0.301282
24917  26790.874525    AAN 2009-05-01  10517.0     12 -0.146588
24929  26790.874525    AAN 2009-05-01  10517.0     24 -0.020146
24941  26790.874525    AAN 2009-05-01  10517.0     36 -0.022819
24953  26790.874525    AAN 2009-05-01  10517.0     48 -0.021595

In [26]:
ltw_test4 = ltw_test2.loc[:,['TICKER','Date','RET','Shift']].copy()
ltw_test4.head()

   TICKER       Date       RET  Shift
11     AA 2004-01-01  0.158183     -1
24     AA 2004-01-01 -0.060789     12
36     AA 2004-01-01  0.065269     24
48     AA 2004-01-01  0.081973     36
60     AA 2004-01-01 -0.094665     48

In [10]:
ltw_test2.head()

          volume TICKER       Date   PERMNO  Shift       RET        __key__
11  2.198232e+06     AA 2004-01-01  24643.0     -1  0.158183  AA_2004-01-01
24  2.198232e+06     AA 2004-01-01  24643.0     12 -0.060789  AA_2004-01-01
36  2.198232e+06     AA 2004-01-01  24643.0     24  0.065269  AA_2004-01-01
48  2.198232e+06     AA 2004-01-01  24643.0     36  0.081973  AA_2004-01-01
60  2.198232e+06     AA 2004-01-01  24643.0     48 -0.094665  AA_2004-01-01

In [48]:
dero.pandas.show_df(ltw_test3)

In [47]:
# dero.pandas.long_to_wide(ltw_test, groupvars=['TICKER','Date'], values=['RET','cum_RET'], colindex='Shift')
dero.pandas.long_to_wide(ltw_test3, groupvars=['TICKER','Date'], values=['RET'], colindex='Shift')

ValueError: Index contains duplicate entries, cannot reshape

In [45]:
for firm in ten_firms:
    temp_df = ltw_test[ltw_test['TICKER'] == firm].copy()
    print(firm)
    dero.pandas.long_to_wide(temp_df, groupvars=['TICKER','Date'], values=['RET','cum_RET'], colindex='Shift')

AA
AAII
AAIT
AAL
AAME
AAN

ValueError: Index contains duplicate entries, cannot reshape

pd.DataFrame(data = [
(10516, 'a', '1/1/2000'),
(10516, 'a', '1/2/2000'),
(10516, 'a', '1/3/2000'),
(10516, 'a', '1/4/2000'),
(10516, 'b', '1/1/2000'),
(10516, 'b', '1/2/2000'),
(10516, 'b', '1/3/2000'),
(10516, 'b', '1/4/2000'),
(10517, 'a', '1/1/2000'),
(10517, 'a', '1/2/2000'),
(10517, 'a', '1/3/2000'),
(10517, 'a', '1/4/2000'),
], columns = ['PERMNO', 'byvar', 'Date'])

In [56]:
df['Date'] = pd.to_datetime(df['Date'])
df2 = dero.data.merge_dsenames(df, on='PERMNO', get='TICKER')

dero.pandas.to_copy_paste(df2.drop(['RET','PERMNO'], axis=1))

pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-01 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-02 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-03 00:00:00'), 'RNT'),
('a', Timestamp('2000-01-04 00:00:00'), 'RNT'),
], columns = ['byvar', 'Date', 'TICKER'])

In [3]:
from pandas import Timestamp
dse_df = pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM'),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM'),
('a', Timestamp('2008-01-01 00:00:00'), 'AAN'),
('a', Timestamp('2009-01-02 00:00:00'), 'AAN'),
('a', Timestamp('2010-01-03 00:00:00'), 'AAN'),
('a', Timestamp('2011-01-04 00:00:00'), 'AAN'),
], columns = ['byvar', 'Date', 'TICKER'])

In [12]:
import dero
import pandas as pd
from dero.data import load_sas
from dero.pandas import convert_sas_date_to_pandas_date
import datetime, os

def merge_dsenames(df, on='TICKER', get='PERMNO', date='Date', 
                   other_byvars=None, 
                   crsp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP'):
    '''
    Merges with dsenames file on on variable (TICKER, PERMNO, PERMCO, NCUSIP), to get get variable (same list).
    Must have a Date variable in df.
    
    Default is to match on TICKER and pull PERMNO.
    
    Required inputs:
    df: pandas dataframe containing any of (TICKER, PERMNO, PERMCO, NCUSIP)
    
    Optional inputs:
    on: str, column name to merge on, one of (TICKER, PERMNO, PERMCO, NCUSIP)
    get: str or list, column or columns to get from dsenames, any of (TICKER, PERMNO, PERMCO, NCUSIP)
         that aren't already in on
    date: str, column name of date variable
    other_byvars: any other variables signifying groups in the data, prevents from collapsing those groups
    '''
    #Make get a list
    if isinstance(get, str):
        get = [get]
    assert isinstance(get, list)
    
    #Make other byvars a list
    if not other_byvars:
        other_byvars = []
    if isinstance(other_byvars, str):
        other_byvars = [other_byvars]
    assert isinstance(other_byvars, list)
    
    assert on not in get #can't get what we already have
    
    #Pull from CRSP dsenames file
    file = 'dsenames'
    fullpath = os.path.join(crsp_dir, file + '.sas7bdat')
    names_df = load_sas(fullpath)
    names_df['start'] = convert_sas_date_to_pandas_date(names_df['NAMEDT'])
    names_df['end'] = convert_sas_date_to_pandas_date(names_df['NAMEENDT'])
    names_df['end'] = names_df['end'].fillna(datetime.date.today())
    
#     pdb.set_trace()
    
    #Now perform merge
    merged = df.merge(names_df[['start','end', on] + get], how='left', on=on)
    #Drop out observations not in name date range
    valid = (merged[date] >= merged['start']) & (merged[date] <= merged['end'])
    #However if there is not a match, doing merged[valid] would drop the observation instead of leaving nan
    #Therefore, take merged[valid] and merge back again to original
    new_merged = df.merge(merged[valid].drop(['start','end'],axis=1), how='left', on=[on, date] + other_byvars)
    new_merged = new_merged.reset_index(drop=True)
    
    if 'PERMNO' in get:
        #Dsenames has no record of which permno is the primary link when a firm has multiple share classes.
        #To get this information, we must merge ccmxpf_linktable. We want to keep only primary links.
        dups = new_merged[[date, on] + other_byvars].duplicated(keep=False) #series of True or False of whether duplicated row
        if dups.any(): #this means we got more than one permno for a single period/firm/byvars
            duplicated = new_merged[dups].reset_index() #puts index in a column for later use
            not_duplicated = new_merged[~dups]
            
            #Take duplicated, merge to ccmxpf_linktable to get gvkey, and the ones which do not have gvkeys are
            #the non-primary links
            with_gvkey = get_gvkey_or_permno(duplicated, date) #default is to get gvkey with permno
            removed_duplicates = with_gvkey[~pd.isnull(with_gvkey['GVKEY'])].drop('GVKEY', axis=1)
            
            #Set index back
            removed_duplicates.set_index('index', inplace=True)
            
            #Now append back together and sort
            full = not_duplicated.append(removed_duplicates)
            new_merged = full.sort_index()
    
    return new_merged

a = merge_dsenames(dse_df, other_byvars='byvar')
a
# dero.pandas.to_copy_paste(a.drop('TICKER',axis=1))

   byvar       Date TICKER   PERMNO
0      a 2000-01-01    ADM  10516.0
1      a 2000-01-02    ADM  10516.0
2      a 2000-01-03    ADM  10516.0
3      a 2000-01-04    ADM  10516.0
4      b 2000-01-01    ADM  10516.0
5      b 2000-01-02    ADM  10516.0
6      b 2000-01-03    ADM  10516.0
7      b 2000-01-04    ADM  10516.0
8      a 2008-01-01    AAN      NaN
9      a 2009-01-02    AAN      NaN
11     a 2010-01-03    AAN  78049.0
12     a 2011-01-04    AAN  10517.0

In [111]:
dups = a[['Date','TICKER', 'byvar']].duplicated(keep=False)
d = a[['Date','TICKER', 'byvar','PERMNO']][dups]
e = get_gvkey_or_permno(d, 'Date')
e[~pd.isnull(e['GVKEY'])]

        Date TICKER byvar   PERMNO   GVKEY
1 2010-01-03    AAN     a  78049.0  1076.0

In [4]:
def get_gvkey_or_permno(df, datevar, get='GVKEY', other_byvars=None,
                        crsp_dir=r'C:\Users\derobertisna.UFAD\Desktop\Data\CRSP'):
    """
    Takes a dataframe containing either GVKEY or PERMNO and merges to the CRSP linktable to get the other one.
    """    
    if get == 'GVKEY':
        rename_get = 'gvkey'
        l_on = 'PERMNO'
        r_on = 'lpermno'
    elif get == 'PERMNO':
        rename_get = 'lpermno'
        l_on = 'GVKEY'
        r_on = 'gvkey'
    else:
        raise ValueError('Need get="GVKEY" or "PERMNO"')
        
    #Make other byvars a list
    if not other_byvars:
        other_byvars = []
    if isinstance(other_byvars, str):
        other_byvars = [other_byvars]
    assert isinstance(other_byvars, list)
    
    link_name = 'ccmxpf_linktable.sas7bdat'
    link_path = os.path.join(crsp_dir, link_name)
    
    link = load_sas(link_path)
    link['linkdt'] = convert_sas_date_to_pandas_date(link['linkdt'])
    link['linkenddt'] = convert_sas_date_to_pandas_date(link['linkenddt'])
    #If end date is missing, that means link is still active. Make end date today.
    link['linkenddt'] = link['linkenddt'].fillna(datetime.date.today())
    
    #Remove links with no permno so that they don't match to nans in the input df
    link.dropna(subset=['lpermno'], inplace=True)
    
    merged = df.merge(link[['lpermno','gvkey', 'linkdt', 'linkenddt','linkprim']], how='left', left_on=l_on, right_on=r_on)

    valid = (merged[datevar] >= merged.linkdt) & \
            (merged[datevar] <= merged.linkenddt) & \
            (merged.linkprim == 'P')
        
    merged = merged[valid].drop(['linkdt','linkenddt', 'linkprim', r_on], axis=1).drop_duplicates()
    merged.rename(columns={rename_get:get}, inplace=True)
    
    #Now merge back to the original again to ensure that rows are not deleted
    new_merged = df.merge(merged[['PERMNO','GVKEY', datevar] + other_byvars],
                          how='left', on=[l_on, datevar] + other_byvars)
    
    return new_merged

get_gvkey_or_permno(a, datevar='Date', other_byvars='byvar')

NameError: name 'a' is not defined

In [84]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(483)_scalar_data_error()
-> repr(data)))
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(268)__new__()
-> cls._scalar_data_error(data)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(3409)_ensure_index()
-> return Index(index_like)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(2066)get_indexer()
-> target = _ensure_index(target)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\indexes\base.py(2197)get_indexer_for()
-> return self.get_indexer(target, **kwargs)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\frame.py(3007)dropna()
-> indices = ax.get_indexer_for(subset)
(Pdb) u
> <ipython-input-83-b200c6dead32>(26)get_gvkey_or_permno()
-> link.dropna(subset='lpermno', inplace=True)
(Pdb) link.head(
*** SyntaxError: unexpected EOF while parsing
(Pdb) link.head()
   gvkey linkprim liid linktype  lpermno  lpermco  USEDFLAG     linkdt  \
0   1000        C  00X       NU      NaN      NaN      -1.0 1961-01-01
1   1000        P   01       NU      NaN      NaN      -1.0 1970-09-30
2   1000        P   01       LU  25881.0  23369.0       1.0 1970-11-13
3   1001        C  00X       NU      NaN      NaN      -1.0 1978-01-01
4   1001        P   01       LU  10015.0   6398.0       1.0 1983-09-20

   linkenddt
0 1970-09-29
1 1970-11-12
2 1978-06-30
3 1983-09-19
4 1986-07-31
(Pdb) q

In [82]:
from numpy import nan
b = dero.data.get_gvkey_or_permno(a, datevar='Date')
dero.pandas.to_copy_paste(b[~pd.isnull(b['PERMNO'])].reset_index(drop=True))

pd.DataFrame(data = [
('a', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-01 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-02 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-03 00:00:00'), 'ADM', 10516.0, 1722),
('b', Timestamp('2000-01-04 00:00:00'), 'ADM', 10516.0, 1722),
('a', Timestamp('2010-01-03 00:00:00'), 'AAN', 78049.0, 1076),
('a', Timestamp('2011-01-04 00:00:00'), 'AAN', 10517.0, 1076),
], columns = ['byvar', 'Date', 'TICKER', 'PERMNO', 'GVKEY'])

In [25]:
avgs, ports = dero.pandas.portfolio_averages(df_weight, 'RET', 'RET', ngroups=2, byvars='byvar', wtvar='weight')
avgs

C:\Users\derobertisna.UFAD\Dropbox\Python\Dero\dero\pandas.py:493: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  rows = df[(outdf[groupvar] >= low_cut) & (df[groupvar] <= high_cut)].index

   portfolio byvar    RET  RET_wavg
0          1     a  1.025     1.025
1          1     b  1.055     1.055
2          2     a  1.105     1.120
3          2     b  1.075     1.075

In [26]:
ports

    PERMNO byvar      Date   RET  weight  portfolio
0    10516     a  1/1/2000  1.01       0          1
1    10516     a  1/2/2000  1.02       1          1
2    10516     a  1/3/2000  1.03       1          1
3    10516     a  1/4/2000  1.04       0          1
4    10516     b  1/1/2000  1.05       1          1
5    10516     b  1/2/2000  1.06       1          1
6    10516     b  1/3/2000  1.07       1          2
7    10516     b  1/4/2000  1.08       1          2
8    10517     a  1/1/2000  1.09       0          2
9    10517     a  1/2/2000  1.10       0          2
10   10517     a  1/3/2000  1.11       0          2
11   10517     a  1/4/2000  1.12       1          2

In [27]:
dero.pandas.to_copy_paste(avgs)

pd.DataFrame(data = [
(1, 'a', 1.0250000000000001, 1.025),
(1, 'b', 1.0550000000000002, 1.0550000000000002),
(2, 'a', 1.1050000000000002, 1.12),
(2, 'b', 1.0750000000000002, 1.0750000000000002),
], columns = ['portfolio', 'byvar', 'RET', 'RET_wavg'])

In [34]:
import pdb; pdb.pm()

> c:\anaconda3\lib\site-packages\dateutil\relativedelta.py(351)__add__()
-> raise TypeError("unsupported type for add operation")
(Pdb) u
> c:\anaconda3\lib\site-packages\dateutil\relativedelta.py(393)__radd__()
-> return self.__add__(other)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(118)<listcomp>()
-> df[newdate] = [date + time_shift(int(shift)) for date, shift in zip(df[datevar],df[shiftvar])]
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(118)_expand_time()
-> df[newdate] = [date + time_shift(int(shift)) for date, shift in zip(df[datevar],df[shiftvar])]
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(69)expand_time()
-> return _expand_time(df, **kwargs)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\data.py(293)get_crsp()
-> long_df = expand_time(long_df, datevar=newdate, freq=freq, time=prior_wind, newdate='Window Date', shiftvar='Wind')
(Pdb) newdate
'Date'
(Pdb) prior_wind
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
(Pdb) q

In [36]:
df['Date'] = pd.to_datetime(df['Date'])
dero.data.get_crsp(df, get='RET', abret=4, window=10, other_byvars='byvar', debug=True)

2016-05-29 17:41:34: Initializing get_crsp function
2016-05-29 17:41:34: All inputs:
2016-05-29 17:41:34: {'abret': 4, 'log': <function get_crsp.<locals>.log at 0x000000F92E1D41E0>, 'includecoef': False, 'wide': True, 'df':     PERMNO byvar       Date   RET
0    10516     a 2000-01-01  1.01
1    10516     a 2000-01-02  1.02
2    10516     a 2000-01-03  1.03
3    10516     a 2000-01-04  1.04
4    10516     b 2000-01-01  1.05
5    10516     b 2000-01-02  1.06
6    10516     b 2000-01-03  1.07
7    10516     b 2000-01-04  1.08
8    10517     a 2000-01-01  1.09
9    10517     a 2000-01-02  1.10
10   10517     a 2000-01-03  1.11
11   10517     a 2000-01-04  1.12, 'date': 'Date', 'cumret': False, 'other_byvars': 'byvar', '_get_crsp': <function get_crsp.<locals>._get_crsp at 0x000000F92E1D42F0>, 'get': 'RET', 'time': None, 'drop_first': False, 'crsp_dir': 'C:\\Users\\derobertisna.UFAD\\Desktop\\Data\\CRSP', 'debug': True, 'freq': 'm', 'window': 10, 'coid': 'PERMNO', 'includefac': False}
2016-05-29 17:41:34: Generating key.
2016-05-29 17:41:34: Abret detected.
2016-05-29 17:41:34: Creating abret window periods.
2016-05-29 17:41:34: Initializing expand_time for periods [0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10].
2016-05-29 17:41:34: Calculating number of rows.
2016-05-29 17:41:34: Calculating number of duplicates.
2016-05-29 17:41:34: Duplicating observations 10 times.
2016-05-29 17:41:34: Duplicated.
2016-05-29 17:41:34: Creating shift variable.
2016-05-29 17:41:34: Creating shifted date.
2016-05-29 17:41:34: expand_time completed.
2016-05-29 17:41:34: Merging with CRSP to get abret window data as well as regular data.
2016-05-29 17:41:34: Loading CRSP dataframe...
2016-05-29 17:41:34: Loaded.
2016-05-29 17:41:34: Converting SAS date to Pandas format.
2016-05-29 17:41:34: Converted.
2016-05-29 17:41:34: Merging CRSP to dataframe.
2016-05-29 17:41:34: Completed merge.
2016-05-29 17:41:34: Getting Fama-French factors
2016-05-29 17:41:34: Running regressions
2016-05-29 17:41:34: Dropping unneeded observations (abret window dates).
2016-05-29 17:41:34: Reshaping long to wide.

    PERMNO byvar       Date  RET_old       RET     ABRET
0    10516     a 2000-01-01     1.01 -0.030928  0.001891
1    10516     a 2000-01-02     1.02 -0.030928  0.001891
2    10516     a 2000-01-03     1.03 -0.030928  0.001891
3    10516     a 2000-01-04     1.04 -0.030928  0.001891
4    10516     b 2000-01-01     1.05 -0.030928  0.001891
5    10516     b 2000-01-02     1.06 -0.030928  0.001891
6    10516     b 2000-01-03     1.07 -0.030928  0.001891
7    10516     b 2000-01-04     1.08 -0.030928  0.001891
8    10517     a 2000-01-01     1.09 -0.078767 -0.036282
9    10517     a 2000-01-02     1.10 -0.078767 -0.036282
10   10517     a 2000-01-03     1.11 -0.078767 -0.036282
11   10517     a 2000-01-04     1.12 -0.078767 -0.036282

In [28]:
from pandas import Timestamp
b = pd.DataFrame(data = [
(10516, 'a', Timestamp('2000-01-01 00:00:00'), 1.01, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-02 00:00:00'), 1.02, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-03 00:00:00'), 1.03, 2000, 1, 11.75, 608360.0),
(10516, 'a', Timestamp('2000-01-04 00:00:00'), 1.04, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-01 00:00:00'), 1.05, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-02 00:00:00'), 1.06, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-03 00:00:00'), 1.07, 2000, 1, 11.75, 608360.0),
(10516, 'b', Timestamp('2000-01-04 00:00:00'), 1.08, 2000, 1, 11.75, 608360.0),
(10517, 'a', Timestamp('2000-01-01 00:00:00'), 1.09, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-02 00:00:00'), 1.1, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-03 00:00:00'), 1.11, 2000, 1, -16.8125, 3830.0),
(10517, 'a', Timestamp('2000-01-04 00:00:00'), 1.12, 2000, 1, -16.8125, 3830.0),
], columns = ['PERMNO', 'byvar', 'Date', 'RET', 'Year', 'Month', 'PRC', 'SHROUT'])
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 8 columns):
PERMNO    12 non-null int64
byvar     12 non-null object
Date      12 non-null datetime64[ns]
RET       12 non-null float64
Year      12 non-null int64
Month     12 non-null int64
PRC       12 non-null float64
SHROUT    12 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(1)
memory usage: 848.0+ bytes

In [14]:
import random
df2 = df.copy()
df2['extra var'] = [i for i in range(len(df2))]

In [15]:
df2

    PERMNO byvar      Date   RET  extra var
0    10516     a  1/1/2000  1.01          0
1    10516     a  1/2/2000  1.02          1
2    10516     a  1/3/2000  1.03          2
3    10516     a  1/4/2000  1.04          3
4    10516     b  1/1/2000  1.05          4
5    10516     b  1/2/2000  1.06          5
6    10516     b  1/3/2000  1.07          6
7    10516     b  1/4/2000  1.08          7
8    10517     a  1/1/2000  1.09          8
9    10517     a  1/2/2000  1.10          9
10   10517     a  1/3/2000  1.11         10
11   10517     a  1/4/2000  1.12         11

In [21]:
a = dero.pandas.long_to_wide(df, ['PERMNO', 'byvar'], 'RET' )#, colindex='Date')
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', '1/1/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/2/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/3/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'a', '1/4/2000', 1.01, 1.02, 1.03, 1.04),
(10516, 'b', '1/1/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/2/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/3/2000', 1.05, 1.06, 1.07, 1.08),
(10516, 'b', '1/4/2000', 1.05, 1.06, 1.07, 1.08),
(10517, 'a', '1/1/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/2/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/3/2000', 1.09, 1.1, 1.11, 1.12),
(10517, 'a', '1/4/2000', 1.09, 1.1, 1.11, 1.12),
], columns = ['PERMNO', 'byvar', 'Date', 'RET0', 'RET1', 'RET2', 'RET3'])

In [13]:
import pdb
pdb.pm()

> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(139)_make_selectors()
-> raise ValueError('Index contains duplicate entries, '
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(101)__init__()
-> self._make_selectors()
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(407)unstack()
-> fill_value=fill_value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\series.py(2043)unstack()
-> return unstack(self, level, fill_value)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\reshape.py(332)pivot()
-> return indexed.unstack(columns)
(Pdb) u
> c:\anaconda3\lib\site-packages\pandas\core\frame.py(3846)pivot()
-> return pivot(self, index=index, columns=columns, values=values)
(Pdb) u
> c:\users\derobertisna.ufad\dropbox\python\dero\dero\pandas.py(386)long_to_wide()
-> raw_wide = df.pivot(index='__key__', columns=colindex, values=value)
(Pdb) df
    PERMNO byvar      Date   RET  extra var  __key__
0    10516     a  1/1/2000  1.01          0  10516_a
1    10516     a  1/2/2000  1.02          1  10516_a
2    10516     a  1/2/2000  1.02          2  10516_a
3    10516     a  1/3/2000  1.03          3  10516_a
4    10516     a  1/4/2000  1.04          4  10516_a
5    10516     b  1/1/2000  1.05          5  10516_b
6    10516     b  1/2/2000  1.06          6  10516_b
7    10516     b  1/3/2000  1.07          7  10516_b
8    10516     b  1/4/2000  1.08          8  10516_b
9    10517     a  1/1/2000  1.09          9  10517_a
10   10517     a  1/2/2000  1.10         10  10517_a
11   10517     a  1/3/2000  1.11         11  10517_a
12   10517     a  1/4/2000  1.12         12  10517_a
(Pdb) q

In [8]:
df.duplicated().any()

False

In [9]:
a = df.iterrows()
b = next(a)

In [8]:
a

   PERMNO byvar  RET1/1/2000  RET1/2/2000  RET1/3/2000  RET1/4/2000
0   10516     a         1.01         1.02         1.03         1.04
1   10516     b         1.05         1.06         1.07         1.08
2   10517     a         1.09         1.10         1.11         1.12

In [7]:
dero.pandas.to_copy_paste(a)

pd.DataFrame(data = [
(10516, 'a', 1.01, 1.02, 1.03, 1.04),
(10516, 'b', 1.05, 1.06, 1.07, 1.08),
(10517, 'a', 1.09, 1.1, 1.11, 1.12),
], columns = ['PERMNO', 'byvar', 'RET1/1/2000', 'RET1/2/2000', 'RET1/3/2000', 'RET1/4/2000'])

In [7]:
print([i for i in df.columns])

['PERMNO', 'byvar', 'Date', 'RET']

In [54]:
import numpy as np
d = c.values
d = np.insert(d, 0, 1)
d

array([1, 10516, 'a', '1/2/2000', 1.02], dtype=object)

In [29]:
a = df.iterrows()

In [31]:
b = next(a)

In [36]:
c = b[1]
c?

In [42]:
[row[0] for row in df.iterrows()]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [41]:
[tuple(row[1].values) for row in df.iterrows()]

[(10516, 'a', '1/1/2000', 1.01),
 (10516, 'a', '1/2/2000', 1.02),
 (10516, 'a', '1/3/2000', 1.03),
 (10516, 'a', '1/4/2000', 1.04),
 (10516, 'b', '1/1/2000', 1.05),
 (10516, 'b', '1/2/2000', 1.06),
 (10516, 'b', '1/3/2000', 1.07),
 (10516, 'b', '1/4/2000', 1.08),
 (10517, 'a', '1/1/2000', 1.09),
 (10517, 'a', '1/2/2000', 1.1),
 (10517, 'a', '1/3/2000', 1.11),
 (10517, 'a', '1/4/2000', 1.12)]

In [22]:
(1.06000000000000001, 1)

(1.06, 1)

In [15]:
import pdb; pdb.pm()

> <ipython-input-14-55b4ea73ba63>(23)to_copy_paste()
-> out += val
(Pdb) val
1.01
(Pdb) out
[10516, 'a']
(Pdb) q.

In [7]:
a.to_clipboard()

OSError: exception: access violation writing 0x0000000000000000

In [4]:
cum_df = dero.pandas.cumulate(df, 'RET', method='between', periodvar='Date', byvars=['PERMNO','byvar'], time=[1,3])

2016-05-27 17:31:44: Initializing cumulate.
2016-05-27 17:31:44: Creating by groups.

In [5]:
expect_df = pd.DataFrame([
                                (10516, 'a', '1/1/2000', 1.01, 1.01),
                                (10516, 'a', '1/2/2000', 1.02, 1.02),
                                (10516, 'a', '1/3/2000', 1.03, 1.03),
                                (10516, 'a', '1/4/2000', 1.04, 1.0712),
                                (10516, 'b', '1/1/2000', 1.05, 1.05),
                                (10516, 'b', '1/2/2000', 1.06, 1.06),
                                (10516, 'b', '1/3/2000', 1.07, 1.07),
                                (10516, 'b', '1/4/2000', 1.08, 1.1556),
                                (10517, 'a', '1/1/2000', 1.09, 1.09),
                                (10517, 'a', '1/2/2000', 1.10, 1.10),
                                (10517, 'a', '1/3/2000', 1.11, 1.11),
                                (10517, 'a', '1/4/2000', 1.12, 1.2432),
                                ], columns = ['PERMNO','byvar','Date', 'RET', 'cum_RET'])

In [18]:
cum_df['cum_RET'] = cum_df['cum_RET'].astype('float64')

In [29]:
pd.util.testing.SimpleMock?

In [32]:
assert_frame_equal?

In [17]:
expect_df.dtypes

PERMNO       int64
byvar       object
Date        object
RET        float64
cum_RET    float64
dtype: object

In [6]:
byvars = ['PERMNO','byvar']
out = groupby_merge(df, byvars, 'max', subset='RET')

In [11]:
round?

In [18]:
round(1.070001, 2)

1.07

In [19]:
tups = list(out.itertuples(name=None))
[tup[1:-1] + (round(tup[-1], 2),) for tup in tups]

[(10516, 'a', '1/1/2000', 1.01, 1.04),
 (10516, 'a', '1/2/2000', 1.02, 1.04),
 (10516, 'a', '1/3/2000', 1.03, 1.04),
 (10516, 'a', '1/4/2000', 1.04, 1.04),
 (10516, 'b', '1/1/2000', 1.05, 1.0800000000000001),
 (10516, 'b', '1/2/2000', 1.0600000000000001, 1.0800000000000001),
 (10516, 'b', '1/3/2000', 1.0700000000000001, 1.0800000000000001),
 (10516, 'b', '1/4/2000', 1.0800000000000001, 1.0800000000000001),
 (10517, 'a', '1/1/2000', 1.0900000000000001, 1.1200000000000001),
 (10517, 'a', '1/2/2000', 1.1000000000000001, 1.1200000000000001),
 (10517, 'a', '1/3/2000', 1.1100000000000001, 1.1200000000000001),
 (10517, 'a', '1/4/2000', 1.1200000000000001, 1.1200000000000001)]

In [ ]:
dero.pandas.cumulate(df, 'RET', 'between', shiftvar='Date', 
                                      byvars=['PERMNO','byvar'], time=[1,3])

In [25]:
df

    PERMNO byvar      Date   RET
0    10516     a  1/1/2000  1.01
1    10516     a  1/2/2000  1.02
2    10516     a  1/3/2000  1.03
3    10516     a  1/4/2000  1.04
4    10516     b  1/1/2000  1.05
5    10516     b  1/2/2000  1.06
6    10516     b  1/3/2000  1.07
7    10516     b  1/4/2000  1.08
8    10517     a  1/1/2000  1.09
9    10517     a  1/2/2000  1.10
10   10517     a  1/3/2000  1.11
11   10517     a  1/4/2000  1.12

In [26]:
test = df.groupby(['PERMNO','byvar']).groups
test

{(10516, 'a'): [0, 1, 2, 3],
 (10516, 'b'): [4, 5, 6, 7],
 (10517, 'a'): [8, 9, 10, 11]}

In [30]:
import dero

In [51]:
import imp; imp.reload(dero)

In [21]:
a = df.groupby(['PERMNO','byvar']).transform(lambda x: x)
a.columns = [col + '_a' for col in a.columns]

In [22]:
pd.concat([df,a], axis=1)

    PERMNO byvar      Date   RET    Date_a  RET_a
0    10516     a  1/1/2000  1.01  1/1/2000   1.01
1    10516     a  1/2/2000  1.02  1/2/2000   1.02
2    10516     a  1/3/2000  1.03  1/3/2000   1.03
3    10516     a  1/4/2000  1.04  1/4/2000   1.04
4    10516     b  1/1/2000  1.05  1/1/2000   1.05
5    10516     b  1/2/2000  1.06  1/2/2000   1.06
6    10516     b  1/3/2000  1.07  1/3/2000   1.07
7    10516     b  1/4/2000  1.08  1/4/2000   1.08
8    10517     a  1/1/2000  1.09  1/1/2000   1.09
9    10517     a  1/2/2000  1.10  1/2/2000   1.10
10   10517     a  1/3/2000  1.11  1/3/2000   1.11
11   10517     a  1/4/2000  1.12  1/4/2000   1.12

In [ ]:
df_nan_byvar = pd.DataFrame(data = [
                                ('a', 1),
                                (nan, 2),
                                ('b', 3),
                                ('b', 4),
                                ], columns = ['byvar', 'val'])

In [11]:
df.groupby(['PERMNO','byvar']).sum()

               RET
PERMNO byvar
10516  a      4.10
       b      4.26
10517  a      4.42

In [14]:
df.sort_values?

In [15]:
from dero.pandas import groupby_merge


a = groupby_index(df, ['PERMNO','byvar'], sortvars='Date')
a['group_index'] += 1

In [24]:
def funca(a):
    
    def funcb(b):
        return b + 1
    
    return funcb(a) + 1

funcb(1)

NameError: name 'funcb' is not defined

In [70]:
#need to add from itertools import chain

def create_windows(periods, method='between', time=[1,3]):
    if method.lower() == 'first':
        windows = [[0]]
        windows += [[i for i in range(1, len(periods))]]
        return windows
    elif method.lower() == 'between':
        windows = [[0]]
        t_bot = 0
        for i, t in enumerate(time): #pick each element of time
            if t == 0: continue #already added zero
            windows.append([i for i in range(t_bot + 1, t + 1)])
            t_bot = t
        #The last window is all the leftover periods after finishing time
        extra_windows = [[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]]
        if extra_windows != [[]]: #don't want to add empty window
            windows += extra_windows
        return windows
    elif method.lower() == 'zero':
        windows = []
        windows.append(periods[:periods.index(0) + 1]) #add times before 0, as well as 0
        windows.append([0]) #add 0
        windows.append(periods[periods.index(0) + 1:]) #add times after 0
        return windows
    
create_windows(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'], method='between', time=[1,3])

[[0], [1], [2, 3]]

In [136]:
def window_mapping(col):
    windows = create_windows(col)
    return [n for i in range(len(col.index)) for n, window in enumerate(windows) if i in window]

b = pd.Series(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'])
window_mapping(b)

[0, 1, 2, 2]

In [78]:
[[0], [1], [2, 3]].index([0])

0

[0, 1, 2]

In [42]:
periods = ['1/1/2000','1/2/2000','1/3/2000','1/4/2000']
windows = [[0], [1, 2]]

[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]

[3]

In [36]:
for i in range(1):
    print(i)

0

In [32]:
from itertools import chain
list(chain.from_iterable([[0],[1,[2,3,[4,5,6]]]]))

[0, 1, [2, 3, [4, 5, 6]]]

In [21]:
windows = [[1],[2,3],[4]]
a['map'] = a['group_index'].apply(lambda x: [x in window for window in windows].index(True))
list([tup[1:] for tup in a.itertuples(name=None)])

[(10516, 'a', '1/1/2000', 1.01, 1, 0),
 (10516, 'a', '1/2/2000', 1.02, 2, 1),
 (10516, 'a', '1/3/2000', 1.03, 3, 1),
 (10516, 'a', '1/4/2000', 1.04, 4, 2),
 (10516, 'b', '1/1/2000', 1.05, 1, 0),
 (10516, 'b', '1/2/2000', 1.0600000000000001, 2, 1),
 (10516, 'b', '1/3/2000', 1.0700000000000001, 3, 1),
 (10516, 'b', '1/4/2000', 1.0800000000000001, 4, 2),
 (10517, 'a', '1/1/2000', 1.0900000000000001, 1, 0),
 (10517, 'a', '1/2/2000', 1.1000000000000001, 2, 1),
 (10517, 'a', '1/3/2000', 1.1100000000000001, 3, 1),
 (10517, 'a', '1/4/2000', 1.1200000000000001, 4, 2)]

In [69]:
a['group_index'] -= 1
a

    PERMNO byvar      Date   RET  group_index  map
0    10516     a  1/1/2000  1.01            0    0
1    10516     a  1/2/2000  1.02            1    1
2    10516     a  1/3/2000  1.03            2    1
3    10516     a  1/4/2000  1.04            3    2
4    10516     b  1/1/2000  1.05            0    0
5    10516     b  1/2/2000  1.06            1    1
6    10516     b  1/3/2000  1.07            2    1
7    10516     b  1/4/2000  1.08            3    2
8    10517     a  1/1/2000  1.09            0    0
9    10517     a  1/2/2000  1.10            1    1
10   10517     a  1/3/2000  1.11            2    1
11   10517     a  1/4/2000  1.12            3    2

In [99]:
a.groupby(['PERMNO','byvar']).indices

{(10516, 'a'): array([0, 1, 2, 3]),
 (10516, 'b'): array([4, 5, 6, 7]),
 (10517, 'a'): array([ 8,  9, 10, 11])}

In [137]:
a.groupby(['PERMNO','byvar'])['Date'].transform(window_mapping)

0     0
1     1
2     2
3     2
4     0
5     1
6     2
7     2
8     0
9     1
10    2
11    2
Name: Date, dtype: object

In [141]:
dero.pandas.groupby_merge(df, ['PERMNO','byvar'], 'transform', (window_mapping), subset='Date')

    PERMNO byvar      Date   RET  Date_transform
0    10516     a  1/1/2000  1.01               0
1    10516     a  1/2/2000  1.02               1
2    10516     a  1/3/2000  1.03               2
3    10516     a  1/4/2000  1.04               2
4    10516     b  1/1/2000  1.05               0
5    10516     b  1/2/2000  1.06               1
6    10516     b  1/3/2000  1.07               2
7    10516     b  1/4/2000  1.08               2
8    10517     a  1/1/2000  1.09               0
9    10517     a  1/2/2000  1.10               1
10   10517     a  1/3/2000  1.11               2
11   10517     a  1/4/2000  1.12               2

In [122]:
def print_col(col):
    print('Type: ', type(col))
    print('Col:\n', col)
    print('\n\n')
    return col

In [117]:
c

  group  num1  num2
0     a     1     2
1     a     2     3
2     b     3     2
3     b     2     4

In [124]:
c = pd.DataFrame([('a',1,2),('a',2,3),('b',3,2),('b',2,4)], columns=['group','num1','num2'])
c.groupby('group')['num1'].transform(print_col)

Type:  <class 'pandas.core.series.Series'>
Col:
 0    1
1    2
Name: a, dtype: int64



Type:  <class 'pandas.core.series.Series'>
Col:
 2    3
3    2
Name: b, dtype: int64

0    1
1    2
2    3
3    2
Name: num1, dtype: int64

In [128]:
a.groupby(['PERMNO','byvar'])['Date'].transform(print_col)

Type:  <class 'pandas.core.series.Series'>
Col:
 0    1/1/2000
1    1/2/2000
2    1/3/2000
3    1/4/2000
Name: (10516, a), dtype: object



Type:  <class 'pandas.core.series.Series'>
Col:
 4    1/1/2000
5    1/2/2000
6    1/3/2000
7    1/4/2000
Name: (10516, b), dtype: object



Type:  <class 'pandas.core.series.Series'>
Col:
 8     1/1/2000
9     1/2/2000
10    1/3/2000
11    1/4/2000
Name: (10517, a), dtype: object

0     1/1/2000
1     1/2/2000
2     1/3/2000
3     1/4/2000
4     1/1/2000
5     1/2/2000
6     1/3/2000
7     1/4/2000
8     1/1/2000
9     1/2/2000
10    1/3/2000
11    1/4/2000
Name: Date, dtype: object

In [64]:
a['Date'].apply(create_windows)

0     [[0], [1], [2, 3], [4, 5, 6, 7]]
1     [[0], [1], [2, 3], [4, 5, 6, 7]]
2     [[0], [1], [2, 3], [4, 5, 6, 7]]
3     [[0], [1], [2, 3], [4, 5, 6, 7]]
4     [[0], [1], [2, 3], [4, 5, 6, 7]]
5     [[0], [1], [2, 3], [4, 5, 6, 7]]
6     [[0], [1], [2, 3], [4, 5, 6, 7]]
7     [[0], [1], [2, 3], [4, 5, 6, 7]]
8     [[0], [1], [2, 3], [4, 5, 6, 7]]
9     [[0], [1], [2, 3], [4, 5, 6, 7]]
10    [[0], [1], [2, 3], [4, 5, 6, 7]]
11    [[0], [1], [2, 3], [4, 5, 6, 7]]
Name: Date, dtype: object

In [55]:
#need to add from itertools import chain

def create_windows(periods, method, time):
    if method.lower() == 'first':
#             windows = [[periods[0]]]
#             if len(time) == 2:
#                 windows += [[periods[1]]]
#             elif len(time) > 2:
#                 windows += [periods[1:]]
#             return windows
        windows = [[0]]
        windows += [[i for i in range(1, len(periods))]]
        return windows
    elif method.lower() == 'between':
        windows = []
        for i, t in enumerate(time): #pick each element of time
            if i == 0:
                windows.append([0]) #first window for between is always just first return alone
                t_bot = 0
            else:
                windows.append([i for i in range(t_bot + 1, t + 1)])
                t_bot = t
        #The last window is all the leftover periods after finishing time
        extra_windows = [[i for i, per in enumerate(periods) if i not in chain.from_iterable(windows)]]
        if extra_windows != [[]]: #don't want to add empty window
            windows += extra_windows
        return windows
    elif method.lower() == 'zero':
        windows = []
        windows.append(periods[:periods.index(0) + 1]) #add times before 0, as well as 0
        windows.append([0]) #add 0
        windows.append(periods[periods.index(0) + 1:]) #add times after 0
        return windows
    
create_windows(['1/1/2000','1/2/2000','1/3/2000','1/4/2000'], method='between', time=[1,2])

[[0], [1, 2], [3]]

In [3]:
dero.pandas.groupby_merge?

In [7]:
dero.pandas.groupby_merge(df, ['PERMNO', 'byvar'], 'transform', (lambda x: [i for i in range(len(x))]), subset=['RET'])

    PERMNO byvar      Date   RET  RET_transform
0    10516     a  1/1/2000  1.01              0
1    10516     a  1/2/2000  1.02              1
2    10516     a  1/3/2000  1.03              2
3    10516     a  1/4/2000  1.04              3
4    10516     b  1/1/2000  1.05              0
5    10516     b  1/2/2000  1.06              1
6    10516     b  1/3/2000  1.07              2
7    10516     b  1/4/2000  1.08              3
8    10517     a  1/1/2000  1.09              0
9    10517     a  1/2/2000  1.10              1
10   10517     a  1/3/2000  1.11              2
11   10517     a  1/4/2000  1.12              3

In [41]:
df.groupby(['PERMNO','byvar']).transform(lambda x: [i for i in range(len(x))])

    Date  RET
0      0    0
1      1    1
2      2    2
3      3    3
4      0    0
5      1    1
6      2    2
7      3    3
8      0    0
9      1    1
10     2    2
11     3    3

In [27]:
windows = [[1],[2,3]]

for key in test:
    by_group_index = [i for i in range(len(test[key]))]
    
    
test

{(10516, 'a'): [0, 1, 2, 3],
 (10516, 'b'): [0, 1, 2, 3],
 (10517, 'a'): [0, 1, 2, 3]}

In [20]:
pd.DataFrame.from_dict(test, orient='index')

            0  1  2  3
(10516, b)  0  1  2  3
(10517, a)  0  1  2  3
(10516, a)  0  1  2  3

In [21]:
df

    PERMNO byvar      Date   RET
0    10516     a  1/1/2000  1.01
1    10516     a  1/2/2000  1.02
2    10516     a  1/3/2000  1.03
3    10516     a  1/4/2000  1.04
4    10516     b  1/1/2000  1.05
5    10516     b  1/2/2000  1.06
6    10516     b  1/3/2000  1.07
7    10516     b  1/4/2000  1.08
8    10517     a  1/1/2000  1.09
9    10517     a  1/2/2000  1.10
10   10517     a  1/3/2000  1.11
11   10517     a  1/4/2000  1.12

In [36]:
ks = df[['PERMNO', 'byvar']].apply(lambda x: '_'.join(x.astype(str)), axis=1)
ks

0     10516_a
1     10516_a
2     10516_a
3     10516_a
4     10516_b
5     10516_b
6     10516_b
7     10516_b
8     10517_a
9     10517_a
10    10517_a
11    10517_a
dtype: object

In [ ]:
def index_by_group(df, byvars, sortvar=None):
    """
    Sorts the dataframe by byvars, then sortvar, then produces a column which contains the integer index
    for each row in each group. Each time a new group is started, the value is zero.
    """
    key_series = df[byvars].apply(lambda x: '_'.join(x.astype(str)), axis=1)
    
    
    ###OLD CODE from split
    df = df.sort_values(['key', periodvar])
    small_df = df[['key'] + cumvars]
    arr = small_df.values
    splits = []
    for i in range(arr.shape[0]):
        if i == 0: continue
        if arr[i,0] != arr[i-1,0]: #different key
            splits.append(i)
    return np.split(arr[:,1:], splits)